footer.flex-rw.container-fluid
  ul.footer-list-top
    li
      h4.footer-list-header About JWS
    |         
    li
      a.generic-anchor.footer-list-anchor(href='/who-we-are', itemprop='significantLink') Who we are
    
    li
      a.generic-anchor.footer-list-anchor(href='/team', itemprop='significantLink') Our Team
    |         
    li
      a.generic-anchor.footer-list-anchor(href='/contact', itemprop='significantLink') Contact Us
    |         
    li
      a.generic-anchor.footer-list-anchor(href='/culture', itemprop='significantLink') Our approach to work
    li
      a.generic-anchor.footer-list-anchor(href='/faqs', itemprop='significantLink') FAQs
  |     
  ul.footer-list-top
    li
      h4.footer-list-header Service
    |         
    li 
      
      |   
       
      a.generic-anchor.footer-list-anchor(href='/web') 
        i.fa.fa-code.fa-fw &nbsp;  
        | Web Apps Development

    |         
    li
      
      |   
      
      a.generic-anchor.footer-list-anchor(href='/mobile')
        i.fa.fa-mobile-phone.fa-fw &nbsp;    
        | Mobile Apps Development
    |         
    //- li
      
    //-   | 
        
    //-   a.generic-anchor.footer-list-anchor(href='/web-services') 
    //-     i.fa.fa-cogs.fa-fw &nbsp;
    //-     | Web Services Development
    //- |         
    //- li
      
    //-   |  
       
    //-   a.generic-anchor.footer-list-anchor(href='/web-authoring') 
    //-     i.fa.fa-globe.fa-fw &nbsp;   
    //-     | Web Content Authoring
        
    //- |         
    li
      
      |   
      
      a.generic-anchor.footer-list-anchor(href='/domain-web-hosting')
        i.fa.fa-database.fa-fw &nbsp;    
        | Domain &amp; Hosting
        
  |     
  ul.footer-list-top
    li#help
      h4.footer-list-header Technologies
    |         
    li
      a.generic-anchor.footer-list-anchor(href='react', itemprop='significantLink') React
    |         
    li
      a.generic-anchor.footer-list-anchor(href='/xamarin', itemprop='significantLink') Xamarin
    |         
    li#find-a-store
      a.generic-anchor.footer-list-anchor(href='/wordpress', itemprop='significantLink') Wordpress
    |         
    li#user-registration
      a.generic-anchor.footer-list-anchor(href='/express', itemprop='significantLink') Express
    |         
    li#order-tracking
      a.generic-anchor.footer-list-anchor(href='/html5', itemprop='significantLink') HTML5
  |     
  section.footer-social-section.flex-rw
    span.footer-social-overlap.footer-social-connect
      | We 
      span.footer-social-small are
      |  Social animals
    |         
    span.footer-social-overlap.footer-social-icons-wrapper
      a.generic-anchor(href='', target='_blank', title='Pinterest', itemprop='significantLink')
        i.fa.fa-pinterest
      |       
      a.generic-anchor(href='', target='_blank', title='Facebook', itemprop='significantLink')
        i.fa.fa-facebook
      |       
      a.generic-anchor(href='', target='_blank', title='Twitter', itemprop='significantLink')
        i.fa.fa-twitter
      |       
      a.generic-anchor(href='', target='_blank', title='Instagram', itemprop='significantLink')
        i.fa.fa-instagram
      |       
      a.generic-anchor(href='', target='_blank', title='Youtube', itemprop='significantLink')
        i.fa.fa-youtube
      |       
      a.generic-anchor(href='', target='_blank', title='Google Plus', itemprop='significantLink')
        i.fa.fa-google-plus
  |     
  section.footer-bottom-section.flex-rw
    .footer-bottom-wrapper
      i.fa.fa-copyright(role='copyright')
      |  2017 Jara Group in 
      address.footer-address(role='company address') Abuja, Nigeria
      span.footer-bottom-rights  - All Rights Reserved - 
    |         
    .footer-bottom-wrapper
      a.generic-anchor(href='/terms-of-use.html', rel='nofollow') Terms
      | &nbsp; &nbsp; &nbsp; &nbsp;| 
      a.generic-anchor(href='/privacy-policy.html', rel='nofollow') Privacy