extends layout

block content
  main
    .row
      .col-lg-4.col-lg-offset-1
        h2.h2 User
        table.table.table-hover.table-responsive
          thead
            th #
            th Name
            th email
            th Phone
            th Registration Date
          we can do all of this 
      .col-lg-5
        h2.h2 Schedule
        table.table.table-hover.table-responsive
          thead
            th #
            th Full Name
            th email
            th Timezone
            th Phone
            th SkypeID
            th Message
    
    .row
      .col-lg-4.col-lg-offset-1
        h2.h2 Briefs
        table.table.table-hover.table-responsive
          thead
            th #
            th Name
            th email
            th Phone
            th Registration Date
      .col-lg-5
        h2.h2 Estimate
        table.table.table-hover.table-responsive
          thead
            th #
            th First Name
            th Last Name
            th Email
            th Phone
            th Company Name
            th Company Type
            th Services
            th From
            th To
    .row
      .col-lg-4.col-lg-offset-1
        h2.h2 Billing
        table.table.table-hover.table-responsive
          thead
            th #
            th Name
            th email
            th Phone
            th Registration Date
      .col-lg-5
        h2.h2 Domain
        table.table.table-hover.table-responsive
          thead
            th #
            th First Name
            th Last Name
            th Email
            th Phone
            th Company Name
            th Company Type
            th Services
            th From
            th To


