html
    include ./includes/_header.pug

    style.
        .jumbotron {
            width: 50%;
            margin: auto;
            padding-left: 10px;
            height: 300px;
        }
    

    h2.jumbotron Check you mail to confirm

