extends layout
block content
    style
        include ../public/stylesheets/process.css
    

    style.
        .h1 {
            color: white
        }
    main.culture-section
        h1.h1 Our culture
        .timeline.container-fluid
            .circle
            ul
                li
                    em Your idea 
                    span Research and plan
                li
                    em Early Talks
                    span Next we will need to define your product requirements which will be examined and accepted by you and we will define our time and cost estimates. This is also the time to sign our contract!
                li
                    em Statement of work
                    span Next, we will need to prepare and agree on a statement of work, along with time estimates.
                li
                    em Design
                    span The first step of our development process is to design the UI/UX. Feel free to provide us with your own design. If you don’t have one, our creative team can prepare that for you.
                li
                    em Revelopment
                    span And now we will start to truly develop your product. Scrum management divides this process into sprints. After each sprint (which lasts two weeks) we will meet and decide on what should we do next. If you’re not happy with our cooperation, you will get the current version of your software, and we can part our ways.
                li
                    em Repeat
                    span If our work will please you, we will continue to work on your product in the same manner.
                li
                    em Delivery
                    span And lastly we will deliver on your finished product.
            .circle

       
                        
                    

