extends layout

block content
    

    style
        include ../public/stylesheets/ecat.css

    style.
        body {
            font-size: 1em;
        }

    
    


    <div class="container" style="margin-top: 20px;">
        <h1 class="divider">Service cards</h1>
        <article class="grid">
            <div class="grid__column">
                <section class="card-service" style="background-image: url('http://i67.tinypic.com/2ywu0pd.png')">
                    <div class="card-service__content">
                        <h2 class="card-service__title">Wind Turbines</h2>
                        <p class="card-service__text">EWT is a leading wind turbine supplier for distributed wind energy applications.</p>
                    </div>
                    <div class="card-service-overlay">
                        <h2 class="card-service-overlay__title">Wind Turbines</h2>
                        <p class="card-service-overlay__text">EWT provides peace of mind to its customers by backing its proven direct drive technology with a high quality long term service support package.</p>
                        <button class="button button--secondary">Read more</button>
                    </div>
                    </section>
            </div>
            <div class="grid__column">
                <section class="card-service" style="background-image: url('http://i66.tinypic.com/2rntrp0.png')">
                    <div class="card-service__content">
                        <h2 class="card-service__title">Distributed Energy</h2>
                        <p class="card-service__text">Paying too much for your energy?<br/> EWT could help.</p>
                    </div>
                    <div class="card-service-overlay">
                        <h2 class="card-service-overlay__title">Distributed Energy</h2>
                        <p class="card-service-overlay__text">EWT provides peace of mind to its customers by backing its proven direct drive technology with a high quality long term service support package.</p>
                        <button class="button button--secondary">Read more</button>
                    </div>
                </section>
            </div>
            <div class="grid__column">
                <section class="card-service" style="background-image: url('http://i67.tinypic.com/xg0cg8.png')">
                    <div class="card-service__content">
                        <h2 class="card-service__title">Service & Maintenance</h2>
                        <p class="card-service__text">EWT is a leading wind turbine supplier for distributed wind energy applications.</p>
                    </div>
                    <div class="card-service-overlay">
                        <h2 class="card-service-overlay__title">Service & Maintenance</h2>
                        <p class="card-service-overlay__text">EWT provides peace of mind to its customers by backing its proven direct drive technology with a high quality long term service support package.</p>
                        <button class="button button--secondary">Read more</button>
                    </div>
                </section>
            </div>
        </article>

        <h1 class="divider">Insights cards</h1>
        <article class="grid">
            <div class="grid__column">
                <section class="card-insight">
                    <div class="card-insight__img" style="background-image: url('http://i63.tinypic.com/307tbo4.jpg')"></div>
                    <h2 class="card-insight__title">Blogs</h2>
                    <div class="card-insight-overlay">
                        <p class="card-insight-overlay__text">All the projects we worked on</p>
                        <button class="button button--secondary">View projects</button>
                    </div>
                </section>
            </div>
            <div class="grid__column">
                <section class="card-insight">
                    <div class="card-insight__img" style="background-image: url('http://i67.tinypic.com/f2t2s9.jpg')"></div>
                    <h2 class="card-insight__title">Brochures</h2>
                    <div class="card-insight-overlay">
                        <p class="card-insight-overlay__text">All the projects we worked on</p>
                        <button class="button button--secondary">View projects</button>
                    </div>
                </section>
            </div>
        </article>

        <h1 class="divider">Brochure cards</h1>
        <article class="grid">
            <div class="grid__column">
                <section class="card-brochure">
                    <div class="card-brochure__img" style="background-image: url('http://i65.tinypic.com/2ikf96t.jpg')"></div>
                    <div class="card-brochure__meta">Flyer</div>
                    <h2 class="card-brochure__title">DW61 1MW</h2>
                    <div class="card-brochure-overlay">
                        <button class="button button--secondary">Download</button>
                    </div>
                </section>
            </div>
            <div class="grid__column">
                <section class="card-brochure">
                    <div class="card-brochure__img" style="background-image: url('http://i65.tinypic.com/r2om5f.jpg')"></div>
                    <div class="card-brochure__meta">Flyer</div>
                    <h2 class="card-brochure__title">DW61 900kWE</h2>
                    <div class="card-brochure-overlay">
                        <button class="button button--secondary">Download</button>
                    </div>
                </section>
            </div>
            <div class="grid__column">
                <section class="card-brochure">
                    <div class="card-brochure__img" style="background-image: url('http://i65.tinypic.com/ic7nv9.jpg')"></div>
                    <div class="card-brochure__meta">Flyer</div>
                    <h2 class="card-brochure__title">DW61 500kW</h2>
                    <div class="card-brochure-overlay">
                        <button class="button button--secondary">Download</button>
                    </div>
                </section>
            </div>
            <div class="grid__column">
                <section class="card-brochure">
                <div class="card-brochure__img" style="background-image: url('http://i65.tinypic.com/21bvwnc.jpg')"></div>
                <div class="card-brochure__meta">Case Study</div>
                <h2 class="card-brochure__title">DW61 500kW</h2>
                <div class="card-brochure-overlay">
                    <button class="button button--secondary">Download</button>
                </div>
                </section>
            </div>
        </article>

        <h1 class="divider">News cards</h1>
        <article class="grid">
            <section class="grid__column">
                <a class="card-news" href="#">
                <div class="card-news__img-wrapper">
                    <span class="card-news__category">News</span>
                    <div class="card-news__img" style="background-image: url('http://www.ewtdirectwind.com/typo3temp/pics/a3c51753e6.jpg')"></div>
                </div>
                <div class="card-news__content">
                    <h2 class="card-news__title">EWT is installing small wind farm in the Netherlands</h2>
                    <date class="card-news__date"> 27 Nov 2017</date>
                    <p class="card-news__text"> EWT is installing a small wind farm of five DW54-900kW’s... </p>
                </div>
                <span class="card-news__link">Read more</span>
                </a>
            </section>
            <section class="grid__column">
                <a class="card-news" href="#">
                <div class="card-news__img-wrapper">
                    <span class="card-news__category">News</span>
                    <div class="card-news__img" style="background-image: url('http://www.ewtdirectwind.com/typo3temp/pics/a3c51753e6.jpg')"></div>
                </div>
                <div class="card-news__content">
                    <h2 class="card-news__title">EWT is installing small wind farm in the Netherlands</h2>
                    <date class="card-news__date"> 27 Nov 2017</date>
                    <p class="card-news__text"> EWT is installing a small wind farm of five DW54-900kW’s... </p>
                </div>
                <span class="card-news__link">Read more</span>
                </a>
            </section>
            <section class="grid__column">
                <a class="card-news" href="#">
                <div class="card-news__img-wrapper">
                    <span class="card-news__category">News</span>
                    <div class="card-news__img" style="background-image: url('http://www.ewtdirectwind.com/typo3temp/pics/a3c51753e6.jpg')"></div>
                </div>
                <div class="card-news__content">
                    <h2 class="card-news__title">EWT is installing small wind farm in the Netherlands</h2>
                    <date class="card-news__date"> 27 Nov 2017</date>
                    <p class="card-news__text"> EWT is installing a small wind farm of five DW54-900kW’s... </p>
                </div>
                <span class="card-news__link">Read more</span>
                </a>
            </section>
            <div class="grid__column">
                <a class="card-news" href="#">
                <div class="card-news__img-wrapper">
                    <span class="card-news__category">News</span>
                    <div class="card-news__img" style="background-image: url('http://www.ewtdirectwind.com/typo3temp/pics/a3c51753e6.jpg')"></div>
                </div>
                <div class="card-news__content">
                    <h2 class="card-news__title">EWT is installing small wind farm in the Netherlands</h2>
                    <date class="card-news__date"> 27 Nov 2017</date>
                    <p class="card-news__text"> EWT is installing a small wind farm of five DW54-900kW’s... </p>
                </div>
                <span class="card-news__link">Read more</span>
                </a>
            </div>
        </article>
    </div>