extends layout

block bottom
  .container
    .row.push-down-top-lg.hidden-xs
      .col-xs-offset-2.col-xs-3
        img(src='img/html5-fundamentals.png', title='HTML5 Fundamentals')
        |                         
        p
          | by 
          a(href='http://jws.com.ng') Akinwale Alexander
        |                         
        p.lead
          a(href='http://twitter.com/') Jaracare Web Services
          |  is a 
          a(href='') developer
          | ,
          |                             
          a(href='>instructor</a>, <a href=') writer
          | , 
          a(href='http://jaracare.com.ng ') podcaster
          | , and
          |                             a man of many hats at 
          a(href=' ') Infragistics
          | .
        |                         
        .push-down-top-md
          a(href=' ')
            img(src='img/Jaracare ', title='Jaracare ')
      |                     
      .col-xs-offset-1.col-xs-3
        a(href=' ')
          img.img-responsive(src=' ', title='Jara Web Services ')