extends layout

block content
  main(role='main ')
    //- h1.masthead Looking for software developers in Nigeria you can count on? You've come to the right place. 
   
    .banner-container

      .skew-wrapper
        .skew-track
          .skew
            .skew-background-image(style="background-image:url('/images/projects.png')")
            .skew-content
              h2 Jara Web Service #1 in Software development in Nigeria
          .skew
            .skew-background-image(style="background-image:url('images/banner2.jpg')")
            .skew-content
              h2 First amongst all
          .skew
            .skew-background-image(style="background-image:url('images/mobile.png')")
            .skew-content
              h2 Your satisfaction is our utmost concern
        .skew-content-target
          h2 We transform ideas into software product, right from the requirements elicitation to software support
          a.btn-banner(href='#') Learn More
    article#content-container.container-fluid.well-lg
      section.search-section
    
        form.search-form.form-inline(action='/domain-search')
            input.form-control( type='search', name='search_domain' autofocus  placeholder='Claim that domain here')
            input.btn.btn-default(type='submit', value='find domain')
            <div id="results"></div>
      .container-fluid
        h2.home-h2 What are you tryin' to accomplish?
        .container-down-top.home-layout
          div.home-content  
            section.soft-dev
              .push-down-top-lg
                img.home-icon(src='/images/softdev.png', title='Selection')
                |                         
                .text-left
                  h2 Software Development
                  |                             
                  p Our software development shop employs time tested technologies and proven philosophy to deliver products that not only meets requirements, but that are also adaptible.
              div.home-content-btn
                button.read-more(type="button")
                  | learn more
              |  
            section.animation               
              .push-down-top-lg
                img.home-icon(src='/images/animation.png', title='animation' alt="web animation")
                |  
                .text-left
                  h2 Web Animation
                  |                           
                  p Animation is the state of the art of the web. We deliver products from Virtual Reality website to animated E-brochure.
              div.home-content-btn
                button.read-more(type="button")
                  | learn more
              |                         
                  
                    
            section.mobile                 
              .push-down-top-lg
                img.home-icon(src='/images/mobiledev.png', title='Media')
                |                         
                .text-left
                  h2 Mobile Apps Development
                  |                             
                  p We have mastered the technique of creating mobile applications for IOS, Android, and Windows App with Xamarin
              div.home-content-btn
                button.read-more(type="button")
                  | learn more
              |
            section.web-telephony                 
              .push-down-top-lg
                img.home-icon(src='/images/telephony.png', alt='Canvas')
                |
                .text-left
                  h2 Internet Telephony                             
                  p  We create call center solutions for businesses, and help them reach a teeming audience via automated calls and SMS
              div.home-content-btn
                button.read-more(type="button")
                    | learn more
              |                 
    
    section.well-lg#content-container2.container-fluid      
          h2.home-section-h2 How would you like to accomplish it
          p Every organization, no matter how stable and organized it is, has a few  peculiarities. Our job is to help figure out the Unique Selling Proposal of any organization and to reposition it for the future.
          div.home-content
            section.estimate
              h3 Brief us and let's estimate
              span estimate your projects
            section.nda
              h3 start with an NDA
              span Do you have propriety information to share? Let's provide you with a non-disclosure aggrement(NDA)
            section.call
              h3 Schedule a meeting via Skype
              span We can provide you with 30 mintues of of our time on skype to discuss your next big thing
    section.well-lg.container-fluid
      h2.home-section-h2 Our work culture
      p We are like pigeons, we stay with you through the ups and downs. We are fully committed to your project throughout the development lifecyle, event to the post production phase

    section.well-lg.container-fluid
      p We are like pigeons, we stay with you through the ups and downs. We are fully committed to your project throughout the development lifecyle, event to the post production phase



