extends layout

block content
  main(role='main ')
   
    .banner-container
      section.search-section
        //- h3 Search Domains
        //- button#toggle-search.header-button Search
        form.search-form(action='')
            input( type='search', name='search' autofocus  placeholder='Claim that domain here')
            input(type='submit', value='find domain')
            <div id="results"></div>
      .banner.banner-1.banner-selected
        label.banner-item(for='banner-1')
        |         
        input#banner-1.banner-trigger(type='radio', name='banner', checked='checked')
        |         
        .banner-wrap
          video(width="1300" autoplay height="800" loop src="/images/video-banner.mp4")
          |             
          .banner__overlay.banner__overlay--low-voltage
          |             
          .banner__content
            .media
              .media__img
                i.fa.fa-refresh.fa-5x
                |                     
                .media__body 
                  p.banner-title
                    | From Zero 
                    
                    span
                      | to
                      strong  hero
                    
      //- |     
      //- .banner.banner-2
      //-   label.banner-item(for='banner-2')
      //-   |         
      //-   input#banner-2.banner-trigger(type='radio', name='banner')
      //-   |         
      //-   .banner-wrap
      //-     img.banner__img(src='/images/banner2.jpg', alt='Jaracare Web Service can turn around your company for better Information technology')
      //-     |             
      //-     .banner__overlay.banner__overlay--low-voltage
      //-     |             
      //-     .banner__content
      //-       .media
      //-         .media__img
      //-           //- i.fa.fa-heart.fa-5x
      //-         |                     
      //-         .media__body
      //-           p.banner-title
      //-             | Our Business
      //-             span
      //-               | is 
      //-               strong to meet your technological goals.
      |     
      .banner.banner-4
        label.banner-item(for='banner-4')
        |         
        input#banner-4.banner-trigger(type='radio', name='banner')
        |         
        .banner-wrap
          img.banner__img(src='/images/banner.png', alt='We can connect you to the best Application programming interfaces')
          |             
          .banner__overlay.banner__overlay--iluminations
          |             
          .banner__content
            .media
              .media__img
                i.fa.fa-gears.fa-5x
              |                     
              .media__body
                p.banner-title
                  | Our Business
                  span
                    | is 
                    strong to give your organisation a value in the tech space.
      //- |     
      //- .banner.banner-4
      //-   label.banner-item(for='banner-4')
      //-   |         
      //-   input#banner-4.banner-trigger(type='radio', name='banner')
      //-   |         
      //-   .banner-wrap
      //-     img.banner__img.img4(src='/images/1.jpg', alt='From Abuja, Nigeria, we develop the best softwares and provide ICT support for our teaming clients.')
      //-     |             
      //-     .banner__overlay.banner__overlay--renewable
      //-     |             
      //-     .banner__content
      //-       .media
      //-         .media__img
      //-           i.fa.fa-star.fa-5x
      //-         |                     
      //-         .media__body
      //-           p.banner-title
      //-             | From the heart of Abuja, Nigeria
      //-             span
      //-               | we 
      //-               strong are  meeting Nigeria's ICT needs one organization at a time.

  
  
    article#content-container.container-fluid.well-lg
      .container-fluid
        h2.home-h2 What are you tryin' to accomplish?
        .container-down-top.home-layout
          div.home-content  
            section.soft-dev
              p
                .push-down-top-lg
                  img.home-icon(src='/images/selection.png', title='Selection')
                  |                         
                  .text-left
                    h2 Software Development
                    |                             
                    p We take your ideas, no matter how complex, and we help you turn them into application What is dictating it.
              button.read-more(type="button")
                | learn more...
              |  
            section.animation               
              p
                .push-down-top-lg
                  img.home-icon(src='/images/forms.png', title='Selection')
                  |  
                  .text-left
                    h2 Web Animation
                    |                           
                    p Custom validation and new elements make web forms more expressive and help facilitate a better user experience.
              button.read-more(type="button")
                | learn more...
              |                         
                  
                    
            section.mobile                 
              p
                .push-down-top-lg
                  img.home-icon(src='/images/media.png', title='Media')
                  |                         
                  .text-left
                    h2 Mobile Application Development
                    |                             
                    p have mastered the technique of creating mobile applications for IOS, Android, and Windows App 
              button.read-more(type="button")
                | learn more...
              |
            section.web-telephony                 
              p
                .push-down-top-lg
                  img.home-icon(src='/images/canvas.png', alt='Canvas')
                  |
                  .text-left
                    h2 Web Telephony, Call Center, Interactive Voice Prompt                             
                    p A native drawing context allowing you to create images and text via JavaScript.
              button.read-more(type="button")
                | learn more...
              |                 
    
    section
      #content-container2.container-fluid.well-lg
        .container-fluid
          h2.home-section-h2 How would you like to accomplish it
          p Every organization, no matter how stable and organized it is, has a few  peculiarities. Our job is to help figure out the Unique Selling Proposal of any organization and to reposition it for the future.
          div.home-content
            section.estimate
              span estimate your projects
            section.estimate
              span Do you have propriety information to share? Let's provide you with a non-disclosure aggrement(NDA)
            section.call
              span We can provide you with 30 mintues of of our time on skype to discuss your next big thing



