extends layout

block content
  main

    
         
    .banner-container
      .banner.banner-1.banner-selected
        label.banner-item(for='banner-1')
        |         
        input#banner-1.banner-trigger(type='radio', name='banner', checked='checked')
        |         
        .banner-wrap
          img.banner__img(src='http://imageshack.com/a/img18/3363/n6wn.jpg', alt='Nuestro negocio es fabricar eficiencia')
          |             
          .banner__overlay.banner__overlay--high-voltage
          |             
          .banner__content
            .media
              .media__img
                i.fa.fa-refresh.fa-5x
              |                     
              .media__body
                a#search-trigger.search-trigger.fa.fa-search.pull-right(href='#')
                
                p.banner-title
                  | Our Business 
                  
                  span
                    | 
                    strong life itself.
            
      |     
      .banner.banner-2
        label.banner-item(for='banner-2')
        |         
        input#banner-2.banner-trigger(type='radio', name='banner')
        |         
        .banner-wrap
          img.banner__img(src='http://imageshack.com/a/img18/3363/n6wn.jpg', alt='Nuestro negocio es fabricar eficiencia')
          |             
          .banner__overlay.banner__overlay--low-voltage
          |             
          .banner__content
            .media
              .media__img
                i.fa.fa-power-off.fa-5x
              |                     
              .media__body
                p.banner-title
                  | Our Business
                  span
                    | is 
                    strong to meet your technological goals.
      |     
      .banner.banner-3
        label.banner-item(for='banner-3')
        |         
        input#banner-3.banner-trigger(type='radio', name='banner')
        |         
        .banner-wrap
          img.banner__img(src='http://imageshack.com/a/img18/3363/n6wn.jpg', alt='Nuestro negocio es fabricar eficiencia')
          |             
          .banner__overlay.banner__overlay--iluminations
          |             
          .banner__content
            .media
              .media__img
                i.fa.fa-music.fa-5x
              |                     
              .media__body
                p.banner-title
                  | Our Business
                  span
                    | is 
                    strong to give your organisation a value in the tech space.
      |     
      .banner.banner-4
        label.banner-item(for='banner-4')
        |         
        input#banner-4.banner-trigger(type='radio', name='banner')
        |         
        .banner-wrap
          img.banner__img(src='http://imageshack.com/a/img18/3363/n6wn.jpg', alt='Nuestro negocio es fabricar eficiencia')
          |             
          .banner__overlay.banner__overlay--renewable
          |             
          .banner__content
            .media
              .media__img
                i.fa.fa-star.fa-5x
              |                     
              .media__body
                p.banner-title
                  | Our Business
                  span
                    | is 
                    strong to help you drive your core and diversionary processes.
  
    article#content-container.container-fluid.well-lg
      
      .container-fluid
            h2(style="color: black") What are you tryin' to accomplish?
      .container-down-top.home-layout
        div.home-content
          a(href='selection.html')
            section.soft-dev
              .push-down-top-lg
                .text-right
                  img.home-icon(src='/images/selection.png', title='Selection')
                |                         
                .text-left
                  h2 Software Development
                  |                             
                  p We take your ideas, no matter how complex, and we help you turn them into application What is dictating it.
            |  
          a(href='forms-markup.html')
            section.animation               
              .push-down-top-lg
                .text-right
                  img.home-icon(src='/images/forms.png', title='Selection')
                |  
                .text-left
                  h2 Web Animation
                  |                           
                  p Custom validation and new elements make web forms more expressive and help facilitate a better user experience.
            |                         
                
                  
          a(href='media-basics.html')
            section.mobile                 
              .push-down-top-lg
                .text-right
                  img.home-icon(src='/images/media.png', title='Media')
                |                         
                .text-left
                  h2 Mobile Application Development
                  |                             
                  p have mastered the technique of creating mobile applications for IOS, Android, and Windows App 
            |
          a(href='canvas-basics.html')
            section.web-telephony                 
              .push-down-top-lg
                .text-right
                  img.home-icon(src='/images/canvas.png', alt='Canvas')
                |
                .text-left
                  h2 Web Telephony, Call Center, Interactive Voice Prompt                             
                  p A native drawing context allowing you to create images and text via JavaScript.
            |                         
          a(href='dd-basics.html')
            section.domain-service               
              .push-down-top-lg
                .text-right
                  img.home-icon(src='/images/dragdrop.png', alt='Drag & Drop')
                |                         
                .text-left
                  h2 Drag &amp; Drop Interactivity
                  p Native APIs to create draggable elements and customize drop targets.
            |


