<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel='stylesheet', type='text/css', href='dist/semantic.min.css')
        script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
        script(src='semantic/dist/semantic.min.js')
    body
        h1 Welcome to the Semantic UI page
        .ui.card
        .content
            .right.floated.meta 14h
            |         
            img.ui.avatar.image(src='/images/avatar/large/elliot.jpg')
            |  Elliot
        |     
        .image
            img
        |     
        .content
            span.right.floated
            i.heart.outline.like.icon
            |       17 likes
            |         
            i.comment.icon
            |  3 comments
        |     
        .extra.content
            .ui.large.transparent.left.icon.input
            i.heart.outline.icon
            |             
            input(type='text', placeholder='Add Comment...')
