extends layout

block content
  main(role='main ')
    section#lab_video_slider
      .container-fluid
        .row(style="height: 400px;")
          meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
          // Link Swiper's CSS
          
          // Swiper
          .swiper-container
            .swiper-wrapper
              #slide_one.swiper-slide
                #lab_video_text_overlay
                  .container
                    h2(style="font-size:2.5em") Shifting the paradigms of tech in Nigeria 
                    p.masthead-para We believe that technology is core to any organization success in this age. We can help transform ideas into software product, right from the requirements elicitation to when the software is in use
                    a.btn.btn-default(href='/projects') View Our Work
                    a.btn.btn-warning(href='/aboutus') Learn About Us
                // end #lab_overlay
                video.slider-video(width='100%' preload='auto' loop='' autoplay='' style='visibility: visible; width: 100%;' poster='//dl.dropbox.com/s/ijyaav8qzkdtyt5/lab-coding-screenshot.jpg')
                  source(type='video/mp4' src='/images/lab-coding.mp4')
                  source(src='/images/lab-coding.mp4' type='video/mp4')
                  source(src='/images/lab-coding.webm' type='video/webm')
                  source(src='/images/lab-coding.ogg' type='video/ogg')
              #slide_two.swiper-slide
                #lab_video_text_overlay
                  .container
                    h2(style="font-size:2.5em") Our Team has the expertise to deliver the best in class software products
                    p.masthead-para We believe that technology is core to any organization success in this age. We can help transform ideas into software product, right from the requirements elicitation to when the software is in use
                    a.btn.btn-default(href='/projects') View Our Work
                    a.btn.btn-warning(href='/aboutus') Learn About Us
                // VIDEO
                video.slider-video(width='100%' preload='auto' loop='' autoplay='' style='visibility: visible; width: 100%;' poster='//dl.dropbox.com/s/5aeyg9ntj1fs8v1/typing-numbers.jpg')
                  source(src='/images/typing-numbers.mp4' type='video/mp4')
                  source(src='/images/typing-numbers.webm' type='video/webm')
                  source(src='/images/typing-numbers.ogv' type='video/ogg')
                // END VIDEO
      
    article#content-container.container-fluid.well-lg
      section.search-section
    
        form.search-form.form-inline(action='/domain-search')
            input.ctrl-form( type='search', name='search_domain' autofocus='true'  placeholder='Claim that domain here')
            input.btn.btn-default(type='submit', value='find domain')
            <div id="results"></div>
      .container-fluid
        h2.home-h2 What are you tryin' to accomplish?
        .container-down-top.home-layout
          div.home-content  
            section.soft-dev
              .push-down-top-lg
                div.home-icons
                  img.home-icon(src='/images/softdev.png', title='Software development')
                |                         
                .text-left
                  h2 Software Dev
                  |                             
                  p Our software development shop employs time tested technologies and proven philosophy to deliver products that not only meets requirements, but that are also adaptible.
              div.home-content-btn
                a.read-more(type="button")
                  | learn more
              |  
            section.animation               
              .push-down-top-lg
                div.home-icons
                  img.home-icon(src='/images/animation.png', title='animation' alt="web animation")
                |  
                .text-left
                  h2 Web Animation
                  |                           
                  p Animation is the state of the art of the web. We deliver products from Virtual Reality website to animated E-brochure.
              div.home-content-btn
                a.read-more(type="button")
                  | learn more
              |                         
                  
                    
            section.mobile                 
              .push-down-top-lg
                div.home-icons
                  img.home-icon(src='/images/mobiledev.png', title='mobile application development')
                |                         
                .text-left
                  h2 Mobile Dev
                  |                             
                  p We have mastered the technique of creating mobile applications for IOS, Android, and Windows App with Xamarin
              div.home-content-btn
                a.read-more(type="button")
                  | learn more
              |
            section.web-telephony 
              .push-down-top-lg
                div.home-icons                
                  img.home-icon(src='/images/telephony.png', alt='Canvas')
                |
                .text-left
                  h2 Internet Telephony                             
                  p  We create call center solutions for businesses, and help them reach a teeming audience via automated calls and SMS
              div.home-content-btn
                a.read-more(type="button")
                    | learn more
              |                 
    
    section.well-lg#content-container2.container-fluid.section-3header      
          h2.home-section-h2 How would you like to accomplish it
          p.header-description we would shine the light on all facets of your company and reveal your domain model
          div.home-content.plain
            section.estimate
              div.main-lede
                h3 Write a brief
                span.header-description Spare us some details about your project 
              div.main-action
                a.show.show-active(target='1' aria-hidden="true") Estimate
                  i(class="fa fa-chevron-down fa-1x pull-right" aria-hidden="true")
            section.nda
              div.main-lede
                h3 Start with an NDA
                span.header-description Do you have propriety information to share? Let's provide you with a non-disclosure aggrement(NDA)
              div.main-action
                a.show(target='2') Submit NDA 
                  i(class="fa fa-chevron-down fa-1x pull-right" aria-hidden="true")
            section.call
              div.main-lede
                h3 Schedule a meeting
                span.header-description We can provide you with 30 mintues of of our time on skype to discuss your next big thing
              div.main-action
                a.show(target='3' aria-hidden="true") Schedule
                  i(class="fa fa-chevron-down fa-1x pull-right" aria-hidden="true")


          section#section1.section.well-lg
            h4 Write a brief
            .container
              .stepwizard
                .stepwizard-row.setup-panel
                  .stepwizard-step
                    a.btn.btn-primary.btn-circle(href='#step-1', type='button') 1
                    p Company details
                  .stepwizard-step
                    a.btn.btn-default.btn-circle.disabled(href='#step-2', type='button') 2
                    p Project details
                  .stepwizard-step
                    a.btn.btn-default.btn-circle.disabled(href='#step-3', type='button') 3
                    p Submission and feedback
              form#form(role='form')
                #step-1.row.setup-content
                  .col-xs-12
                    .col-md-11
                      h3  Company Details
                      .form-group
                        label.control-label Email
                        input#firstName.form-control(maxlength='100', type='email', required='', placeholder='Enter Email Address')
                      .form-group
                        label.control-label Last Name
                        input.form-control(maxlength='100', type='text', required='required', placeholder='Enter Last Name')
                      button.schedule-btn.nextBtn.pull-right(type='button') Next
                #step-2.row.setup-content
                  .col-xs-12
                    .col-md-11
                      h3  Project Details
                      .form-group
                        label.control-label Company Name
                        input.form-control(maxlength='200', type='text', required='required', placeholder='Enter Company Name')
                      .form-group
                        label.control-label Company Address
                        input.form-control(maxlength='200', type='text', required='required', placeholder='Enter Company Address')
                      button.btn.btn-primary.nextBtn.pull-right(type='button') Next
                #step-3.row.setup-content
                  .col-xs-12
                    .col-md-11
                      h3  Step 3
                      p Take a moment to review the form, and edit any information.
                      button.btn.btn-success.pull-right(type='submit') Finish!

          section#section2.section.well-lg
            h3 Upload Your NDA here, we will sign it and send it back to you
            form.file-upload(method='post', action='/upload')
              input(type='text', value='Click here and press tab to test keyboard interaction.')
              label.file
                | Drop a file or click to select one
                input(type='file', multiple='')
                // use multiple, even if it’s not allowed, to be able to show an info text
              button.pull-right.schedule-btn(type='submit') Upload
            //
              TODO:
              • add clear/reset option
              • add validation of type and size
          section#section3.section.well-lg
            h3 Book a schedule on skype
            form#apptForm(action='#', method='post')
              .header.row
              // row
              .row
                .inputs.date.col-4
                  label(for='') Date
                  br
                  input(type='date', id='')
                .inputs.time.col-4
                  label(for='') Time
                  br
                  input(type='time', id='')
                .inputs.time-zone.col-4
                  label(for='') Time Zone
                  br
                  select.appt-sel
                    option Timezone
                    option Lagos Central African Time
                    option London GMT
                    option Pacific
                    option Mountain
                    option Central
                    option Eastern
                    option Atlantic
                    option Chamarro
                    option Samoa
                    option Hawaii-Aleutian
                    option Alaska
              // row
              .row
                .inputs.contact.col-6
                  label(for='contactNumber') Contact Number
                  br
                  input#contactNumber(type='tel')
                .inputs.email.col-6
                  label(for='') Skype ID (Email)
                  br
                  input(type='email', id='')
              // row
              .row
                .inputs.message.col-12
                  label(for='') Message
                  br
                  textarea.txt-appt
              // row
              .row
                .col-12
                  button.schedule-btn.pull-right(type='submit')
                    strong Submit
              // row



    section.well-lg.container-fluid
      h2.home-section-h2 Our work culture
      h3.home-section-h3 We work with Agility
      img.culture(src="images/Softmodel.png")
      //- p We are like pigeons, we stay with you through the ups and downs. We are fully committed to your project throughout the development lifecyle, event to the post production phase
      h3.home-section-h3 We employ time-tested technologies and tools to do our job
      
      img.techs(src="images/html5.png" caption="HTML5")
      img.techs(src="images/reactjs.png")
      img.techs(src="images/DNC.png")

    section.well-lg.container-fluid
    script.
      var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      paginationClickable: true,
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      spaceBetween: 1,
      autoplay: 20000,
      autoplayDisableOnInteraction: false
      });


