extends layout

block content
  main(role='main ')
    section#lab_video_slider
      .container-fluid
        .row.row-height
          .swiper-container
            .swiper-wrapper
              #slide_one.swiper-slide
                #lab_video_text_overlay
                  .container
                    h2(style="") Shifting the Paradigms of Tech in Nigeria 
                    p.masthead-para We believe that technology is core to any organization success in this age. We can help transform ideas into software product, right from the requirements elicitation to when the software is in use
                    a.btn.btn-default(href='/projects') View Our Work
                    a.btn.btn-warning(href='/aboutus') Learn About Us
                // end #lab_overlay
                video.slider-video(width='100%' preload='auto' loop='' autoplay='' style='visibility: visible; width: 100%;' poster='//dl.dropbox.com/s/ijyaav8qzkdtyt5/lab-coding-screenshot.jpg')
                  source(type='video/mp4' src='/images/lab-coding.mp4')
                  source(src='/images/lab-coding.mp4' type='video/mp4')
                  source(src='/images/lab-coding.webm' type='video/webm')
                  source(src='/images/lab-coding.ogg' type='video/ogg')
              #slide_two.swiper-slide
                #lab_video_text_overlay
                  .container
                    h2(style="") Our Team has the expertise to deliver the best in class software products
                    p.masthead-para We believe that technology is core to any organization success in this age. We can help transform ideas into software product, right from the requirements elicitation to when the software is in use
                    a.btn.btn-default(href='/projects') View Our Work
                    a.btn.btn-warning(href='/aboutus') Learn About Us
                // VIDEO
                video.slider-video(width='100%' preload='auto' loop='' autoplay='' style='visibility: visible; width: 100%;' poster='//dl.dropbox.com/s/5aeyg9ntj1fs8v1/typing-numbers.jpg')
                  source(src='/images/typing-numbers.mp4' type='video/mp4')
                  source(src='/images/typing-numbers.webm' type='video/webm')
                  source(src='/images/typing-numbers.ogv' type='video/ogg')
                // END VIDEO
      
    article#content-container.container-fluid
      section.search-section
    
        form.search-form.form-inline(action='/domain-search')
            input.ctrl-form( type='search', name='search_domain' autofocus='true'  placeholder='Claim that domain here')
            input.btn.btn-default(type='submit', value='find domain')
            <div id="results"></div>
      .container-fluid
        h2.home-h2 What are you tryin' to accomplish?
        .container-down-top.home-layout
          div.home-content  
            section.soft-dev
              .push-down-top-lg
                div.home-icons
                  img.home-icon(src='/images/webr.svg', title='Software development')
                |                         
                .text-left
                  h2 Software Dev
                  |                             
                  p Our software development shop employs time tested technologies and proven philosophy to deliver products that not only meets requirements, but that are also adaptible.
              div.home-content-btn
                a.read-more(href="software-development")
                  | learn more
              |  
            section.animation               
              .push-down-top-lg
                div.home-icons
                  img.home-icon(src='/images/ui-ux.svg', title='animation' alt="web animation")
                |  
                .text-left
                  h2 Web Animation
                  |                           
                  p Animation is the state of the art of the web. We deliver products from Virtual Reality website to animated E-brochure.
              div.home-content-btn
                a.read-more(href="web-animation")
                  | learn more
              |                         
                  
                    
            section.mobile                 
              .push-down-top-lg
                div.home-icons
                  img.home-icon(src='/images/mobiler.svg', title='mobile application development')
                |                         
                .text-left
                  h2 Mobile Dev
                  |                             
                  p We have mastered the technique of creating mobile applications for IOS, Android, and Windows App with Xamarin
              div.home-content-btn
                a.read-more(href="mobile")
                  | learn more
              |
            section.web-telephony 
              .push-down-top-lg
                div.home-icons                
                  img.home-icon(src='/images/talk.svg', alt='Telephony')
                |
                .text-left
                  h2 Internet Telephony                             
                  p  We create call center solutions for businesses, and help them reach a teeming audience via automated calls and SMS
              div.home-content-btn
                a.read-more(href="telephony")
                    | learn more
              |                 
    
    section#content-container2.container-fluid.section-3header
          div.jumbotron.container-fluid.jumbo-div      
            h2.home-section-h2 How would you like to accomplish it
            p.header-description we would shine the light on all facets of your company and reveal your domain model
          div.home-content.plain
            section.estimate
              div.main-lede
                h3 Estimate Project
                span.header-description Spare us some details about your project and we shall do the estimate
              div.main-action
                a.show(data-toggle="modal" data-target="#estimate") Estimate
                  i(class="fa fa-chevron-down fa-1x pull-right" aria-hidden="true")
            section.nda
              div.main-lede
                h3 Start with an NDA
                span.header-description Do you have propriety information to share? Let's provide you with a non-disclosure aggrement(NDA)
              div.main-action
                a.show(data-toggle="modal" data-target="#submitNDA") Submit NDA 
                  i(class="fa fa-chevron-down fa-1x pull-right" aria-hidden="true")
            section.call
              div.main-lede
                h3 Schedule a meeting
                span.header-description We can provide you with 30 mintues of of our time on skype to discuss your next big thing
              div.main-action
                a.show(data-toggle="modal" data-target="#schedule") Schedule
                  i(class="fa fa-chevron-down fa-1x pull-right" aria-hidden="true")


          section#estimate.section.modal.fade(role="dialog")
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h4 Write a brief (Click on the blue button to get started)
                .modal-body

                  .container-fluid
                    .stepwizard
                      .stepwizard-row.setup-panel
                        .stepwizard-step
                          a.btn.btn-primary.btn-circle(href='#step-1', type='button') 1
                          p Company details
                        .stepwizard-step
                          a.btn.btn-default.btn-circle.disabled(href='#step-2', type='button') 2
                          p Project details
                        .stepwizard-step
                          a.btn.btn-default.btn-circle.disabled(href='#step-3', type='button') 3
                          p Submission and feedback
                    form(role='form' action="brief/add" method="post")
                      #step-1.row.setup-content
                        .col-xs-12.col-md-11
                            h3  Company Details
                            .form-group
                              label(for="email") Email
                              input#firstName.form-control(name='email', type='email', required='', placeholder='Enter Email Address')
                            .form-group
                              label(for="brief") brief message
                              textarea.form-control(name="brief", cols="20", rows="6")
                            button.btn.btn-primary.nextBtn.pull-right(type='button') Next
                      #step-2.row.setup-content
                        .col-xs-12.col-md-11
                            h3  Project Details
                            .form-group
                              label(for="companyName").control-label Company Name
                              input.form-control(type='text', required='required', name='companyName' placeholder='Enter Company Name')
                            .form-group
                              label.control-label(for='address') Company Address
                              input.form-control(type='text', name='address', required='required', placeholder='Enter Company Address')
                            
                            .form-group
                              label.control-label(for="phone") Phone Number
                              input.form-control( type='tel', required='required', name='phone' placeholder='Enter Company Name')                      

                            button.btn.btn-primary.nextBtn.pull-right(type='button') Next
                            
                      #step-3.row.setup-content
                        .col-xs-12.col-md-11
                            h3  Step 3
                            .form-group                        
                              label.file
                              | Drop a file or click to select one
                              input(type='file', multiple='' name='nda' class='nda-input')
                              // use multiple, even if it’s not allowed, to be able to show an info text
                              p Take a moment to review the form, and edit any information.
                              button.btn.btn-success.pull-right(type='submit') Finish!

          section#submitNDA.section.modal.fade(role="dialog")
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h3 Upload Your NDA here, we will sign it and send it back to you
                .modal-body
                  form.file-upload(method='post', action='nda/send', encType='multipart/form-data', ref='uploadForm' )
                    .form-group
                      label(for="name") Full Name
                      input.form-control(type='text', value='Type your name here' name="name")
                    .form-group
                      label(for="email") Email
                      input.form-control(type='email', value='provide your email' name="email")
                    .form-group
                      label.file
                        | Drop a file or click to select one
                        input.form-control(type='file', multiple='' name='nda' class='nda-input')
                        // use multiple, even if it’s not allowed, to be able to show an info text
                    button.schedule-btn(type='submit') Upload
           
          section#schedule.section.modal.fade(role="dialog")
            .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    h3 Book a schedule on skype

                  .modal-body            
                    form.form-horizontal.container-fluid(action='/schedule/add', method='post')
                      .div.form-group
                          label(for='fullname') Full Name
                          input.form-control#fullname(type='text', name='fullname')
                          label(for='email') Email
                          input.form-control(type='email', name='email', id='')
                      .div.form-group
                          label(for='date') Date
                          input.form-control(type='date', id='', name='date')
                          label(for='timezone') Time Zone
                          select.form-control(name='timezone')
                            option Lagos Central African Time
                            option London GMT
                            option Pacific
                            option Mountain
                            option Central
                            option Eastern
                            option Atlantic
                            option Chamarro
                            option Samoa
                            option Hawaii-Aleutian
                            option Alaska
                      .form-group
                          label(for='phone') Phone
                          input.form-control#contactNumber(type='tel', name='phone')
                          label(for='skypeid') Skype ID
                          input.form-control(type='text', id='', name='skypeid')
                      .form-group
                        .message
                          label(for='message') Message
                          textarea.form-control.txt-appt(name='message', rows="3")
                      .form-group
                        button.schedule-btn.pull-right(type='submit')
                          strong Submit
                      // row



    section.container-fluid.section-3header 
      div.jumbotron.container-fluid.jumbo-div
        h2.home-section-h2 Our work culture
        p.header-description Our culture is steep in SCRUM, and we have some few principles you might care to know
      .container-fluid.culture-home
        .row.culture-pitch.jumbotron
          .container-fluid.culture
            h3.home-section-h3  Proven and Tested Technology Stacks
            img.culture-img(src="images/tech-stack.jpg", alt="technology stack")
            p The technology stacks we use have been tested and have been proven to deliver in their domain. Whether we are building a transformation pipeline, a client-facing web application, or a native cross-platform mobile application, we would deploy the best tools and platform in bringing the best experience to our clients. 
        //- p We are like pigeons, we stay with you through the ups and downs. We are fully committed to your project throughout the development lifecyle, event to the post production phase
        .row.culture-pitch.jumbotron
          .container-fluid.culture
            h3.home-section-h3 Proven and Tested Philosophy
            img.culture-img(src="images/agile-process.jpg", alt="Agile process")
            p ability to drive an agile, quality-focused development process from staging, to beta, to production
        .row.culture-pitch.jumbotron
          .container-fluid.culture
            h3.home-section-h3 The client is king
            img.culture-img(src="images/client-king.gif", alt="Client is king")
            p In line with our Scrum mindset we not only bring the client as part of the project team, we are responsive to are clients and are interested in ways they would get the best return on their investment. This means we build with the business in mind as much as we want to listen to the needs of the client.
      section.container-fluid.section-3header 
        div.jumbotron.container-fluid.jumbo-div
          h2.home-section-h2 Relevant Technologies
          .tech-img.jumbotron
              figure
                img.img-responsive.techs(src="images/html5.png", caption="HTML5", alt="html5")
                figcaption HTML5
              figure
                img.img-responsive.techs(src="images/reactjs.png", caption="React.js", alt="React.js")
                figcaption React.js
              figure
                img.img-responsive.techs(src="images/asp.png", caption="ASP.NET", alt="ASP.NET")
                figcaption ASP.NET
              figure
                img.img-responsive.techs(src="images/expressjs.jpg", caption="Express.js", alt="Express.js")
                figcaption Express.js
              figure
                img.img-responsive.techs(src="images/git.png", caption="Git", alt="Git")
                figcaption Git
              figure
                img.img-responsive.techs(src="images/jquery.png", caption="JQuery", alt="JQuery")
                figcaption JQuery
              figure
                img.img-responsive.techs(src="images/csharp.png", caption="C#", alt="C#")
                figcaption C#
              figure
                img.img-responsive.techs.align-center(src="images/net.png", caption=".NET", alt=".NET")
                figcaption .NET
    script.
      var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      paginationClickable: true,
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      spaceBetween: 1,
      autoplay: 20000,
      autoplayDisableOnInteraction: false
      });


