extends layout

block content
  main
         
    .banner-container
      .banner.banner-1.banner-selected
        label.banner-item(for='banner-1')
        |         
        input#banner-1.banner-trigger(type='radio', name='banner', checked='checked')
        |         
        .banner-wrap
          img.banner__img(src='http://imageshack.com/a/img18/3363/n6wn.jpg', alt='Nuestro negocio es fabricar eficiencia')
          |             
          .banner__overlay.banner__overlay--high-voltage
          |             
          .banner__content
            .media
              .media__img
                i.fa.fa-refresh.fa-5x
              |                     
              .media__body
                a#search-trigger.search-trigger.fa.fa-search.pull-right(href='#')
                
                p.banner-title
                  | Our Business 
                  
                  span
                    | 
                    strong life itself.
            
      |     
      .banner.banner-2
        label.banner-item(for='banner-2')
        |         
        input#banner-2.banner-trigger(type='radio', name='banner')
        |         
        .banner-wrap
          img.banner__img(src='http://imageshack.com/a/img18/3363/n6wn.jpg', alt='Nuestro negocio es fabricar eficiencia')
          |             
          .banner__overlay.banner__overlay--low-voltage
          |             
          .banner__content
            .media
              .media__img
                i.fa.fa-power-off.fa-5x
              |                     
              .media__body
                p.banner-title
                  | Our Business
                  span
                    | is 
                    strong life itself.
      |     
      .banner.banner-3
        label.banner-item(for='banner-3')
        |         
        input#banner-3.banner-trigger(type='radio', name='banner')
        |         
        .banner-wrap
          img.banner__img(src='http://imageshack.com/a/img18/3363/n6wn.jpg', alt='Nuestro negocio es fabricar eficiencia')
          |             
          .banner__overlay.banner__overlay--iluminations
          |             
          .banner__content
            .media
              .media__img
                i.fa.fa-music.fa-5x
              |                     
              .media__body
                p.banner-title
                  | Our Business
                  span
                    | is 
                    strong life itself.
      |     
      .banner.banner-4
        label.banner-item(for='banner-4')
        |         
        input#banner-4.banner-trigger(type='radio', name='banner')
        |         
        .banner-wrap
          img.banner__img(src='http://imageshack.com/a/img18/3363/n6wn.jpg', alt='Nuestro negocio es fabricar eficiencia')
          |             
          .banner__overlay.banner__overlay--renewable
          |             
          .banner__content
            .media
              .media__img
                i.fa.fa-star.fa-5x
              |                     
              .media__body
                p.banner-title
                  | Our Business
                  span
                    | is 
                    strong life itself.
    
    .body-overlay
      form#search-overlay-form(role='search', method='GET', action='https://codepen.io/NelBarnatia/pen/KdKbLV', autocomplete='off')
        input(type='search', placeholder='Start your search here', name='q', value='')
        |         
        p Press enter to search for a product
        |         
        span.fa.fa-times      
    article#content-container.container
      
      .container-down-top.home-layout
        a(href='selection.html')
          .row.push-down-top-lg
            .col-sm-offset-2.col-sm-3.text-right.visible-md.visible-lg
              img.home-icon(src='/images/selection.png', title='Selection')
            |                         
            .col-sm-6.text-left
              h2 Software Development
              |                             
              p We take your ideas, no matter how complex, and we help you turn them into application .
        |                 
        a(href='forms-markup.html')
          .row.push-down-top-lg
            .col-sm-6.text-right
              h2 Web Animation
              |                             
              p
                | Custom validation and new elements make web forms more expressive and help facilitate a better user experience.
            |                         
            .col-sm-3.visible-md.visible-lg
              img.home-icon(src='/images/forms.png', title='Selection')
        |                 
        a(href='media-basics.html')
          .row.push-down-top-lg
            .col-sm-offset-2.col-sm-3.text-right.visible-md.visible-lg
              img.home-icon(src='/images/media.png', title='Media')
            |                         
            .col-sm-6.text-left
              h2 Mobile Application Development
              |                             
              p
                | We have mastered the technique of creating mobile applications for IOS, Android, and Windows App 
        |                 
        a(href='canvas-basics.html')
          .row.push-down-top-lg
            .col-sm-6.text-right
              h2 Web Telephony, Call Center, Interactive Voice Prompt
              |                             
              p
                | A native drawing context allowing you to create images and text via JavaScript.
            |                         
            .col-sm-3.visible-md.visible-lg
              img.home-icon(src='/images/canvas.png', alt='Canvas')
        |                 
        a(href='dd-basics.html')
          .row.push-down-top-lg
            .col-sm-offset-2.col-sm-3.text-right.visible-md.visible-lg
              img.home-icon(src='/images/dragdrop.png', alt='Drag & Drop')
            |                         
            .col-sm-6.text-left
              h2 Drag &amp; Drop Interactivity
              |                             
              p
                | Native APIs to create draggable elements and customize drop targets.
        |


