extends layout

block content
  main
         
   
    article#content-container.container
      #carousel-example-generic.carousel.slide(data-ride='carousel')     
        ol.carousel-indicators
          li.active(data-target='#carousel-example-generic', data-slide-to='0')
          li(data-target='#carousel-example-generic', data-slide-to='1')
          li(data-target='#carousel-example-generic', data-slide-to='2')
          |
        .carousel-inner(role='listbox')
          .item.active
            img(src='/images/kitchen.png', alt='...')
            |             
            .carousel-caption
              | Carousel Demo
          |         
          .item
            img(src='/images/view.png', alt='...')
            |             
            .carousel-caption
              | Carousel Demo
          |         We are all good now, and we hope to have another year here
      
      .container-down-top.home-layout
        a(href='selection.html')
          .row.push-down-top-lg
            .col-sm-offset-2.col-sm-3.text-right.visible-md.visible-lg
              img.home-icon(src='/images/selection.png', title='Selection')
            |                         
            .col-sm-6.text-left
              h2 Software Development
              |                             
              p We take your ideas, no matter how complex, and we help you turn them into application .
        |                 
        a(href='forms-markup.html')
          .row.push-down-top-lg
            .col-sm-6.text-right
              h2 Web Animation
              |                             
              p
                | Custom validation and new elements make web forms more expressive and help facilitate a better user experience.
            |                         
            .col-sm-3.visible-md.visible-lg
              img.home-icon(src='/images/forms.png', title='Selection')
        |                 
        a(href='media-basics.html')
          .row.push-down-top-lg
            .col-sm-offset-2.col-sm-3.text-right.visible-md.visible-lg
              img.home-icon(src='/images/media.png', title='Media')
            |                         
            .col-sm-6.text-left
              h2 Mobile Application Development
              |                             
              p
                | We have mastered the technique of creating mobile applications for IOS, Android, and Windows App 
        |                 
        a(href='canvas-basics.html')
          .row.push-down-top-lg
            .col-sm-6.text-right
              h2 Web Telephony, Call Center, Interactive Voice Prompt
              |                             
              p
                | A native drawing context allowing you to create images and text via JavaScript.
            |                         
            .col-sm-3.visible-md.visible-lg
              img.home-icon(src='/images/canvas.png', alt='Canvas')
        |                 
        a(href='dd-basics.html')
          .row.push-down-top-lg
            .col-sm-offset-2.col-sm-3.text-right.visible-md.visible-lg
              img.home-icon(src='/images/dragdrop.png', alt='Drag & Drop')
            |                         
            .col-sm-6.text-left
              h2 Drag &amp; Drop Interactivity
              |                             
              p
                | Native APIs to create draggable elements and customize drop targets.
        |


