doctype html
head
  title #{title}
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="black")
  meta(name="format-detection" content="telephone=no")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="google-site-verification" content="m_SUL8e5mVCb8mkYqMlg466KK-pAzSD_cLOHwwCPZkU")
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name="theme-color" content="#ffffff")
  link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
  link(rel="manifest" href="/manifest.json")
  link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
  meta(name='description', content=content)
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='icon', type='image/png', href='img/favicon.png')
  //- link(rel='stylesheet', href='/stylesheets/reset.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap.css', type='text/css')
  link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.2.5/css/swiper.min.css')
  
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.2.5/js/swiper.min.js')

  
 
  
|
body
  header
    // Fixed navbar
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            |                         
            span.icon-bar
            |                         
            span.icon-bar
            |                         
            span.icon-bar
          | 
                                
          a.navbar-brand(href='/')
            
            <img width="60" height="80" src="/images/logo.png" title="Jara Web Service" class="hidden-sm" /> 
            <img width="40" height="60" src="/images/logo-sm.png" title="Jara Web Service" class="visible-sm hidden-md" />
            //- <img src="/images/logo-sm.png" title="Jara Web Service" class="visible-sm" />
        |                     
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.nav-pad
            li
              span.nav-link
                a.nav-link(href='/mobile') Mobile App
            |                             
            li
              span.nav-link
                a.nav-link(href='/web') Web App
            |                             
            li.dropdown
                span.nav-link(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Web API
                |                                     
                ul.dropdown-menu(aria-labelledby='dLabel', id='dropdown')
                  li
                    a(href='/api') API Integration
                  |                                         
                  li
                    a(href='/web-services') Web Services
                  
            |                             
                                        
            li.dropdown
                span.nav-link(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Multimedia 
                |                                     
                ul.dropdown-menu(aria-labelledby='dLabel')
                  li
                    a(href='/video-conferencing') Video Conferencing
                  |                                         
                  li
                    a(href='ECatalog') ECatalog/Brochure
                  |                                         
                  li
                    a(href='Web-Animation') Web Animation
                  
            |                             
            li.dropdown
                span.nav-link(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Domain & Hosting
                |                                     
                ul.dropdown-menu(aria-labelledby='dLabel')
                  li
                    a(href='web-hosting') Web Hosting
                  |                                         
                  li
                    a(href='domain') Domain Name Registration
                  |                                         
                  li
                    a(href='internet') Internet Marketing
                  |                                         
                  li
                    a(href='content-writing') Content Writing
                  |                                         
                  li
                    a(href='sms') SMS Marketing
                  |                                      
                  li
                    a(href='seo') Search Engine Optimization

          span.pull-right.estimate-proj 
            a.btn.btn-info(href="") Estimate Project

        
          
            
          
            
          
            
          
                
      // /.nav-collapse
|

block content

footer.flex-rw.container-fluid
  ul.footer-list-top
    li
      h4.footer-list-header About JWS
    |         
    li
      a.generic-anchor.footer-list-anchor(href='/who-we-are', itemprop='significantLink') Who we are
    |         
    li
      a.generic-anchor.footer-list-anchor(href='/what-we-do', itemprop='significantLink') What we do
    li
      a.generic-anchor.footer-list-anchor(href='/our-team', itemprop='significantLink') Our Team
    |         
    li
      a.generic-anchor.footer-list-anchor(href='/portfolio', itemprop='significantLink') Portfolio
    |         
    li
      a.generic-anchor.footer-list-anchor(href='/contact', itemprop='significantLink') Contact Us
    |         
    li
      a.generic-anchor.footer-list-anchor(href='/our-approach', itemprop='significantLink') Our approach to work
    li
      a.generic-anchor.footer-list-anchor(href='/blog', itemprop='significantLink') Blog
    li
      a.generic-anchor.footer-list-anchor(href='/faqs', itemprop='significantLink') FAQs
  |     
  ul.footer-list-top
    li
      h4.footer-list-header Service
    |         
    li 
      
      |   
       
      a.generic-anchor.footer-list-anchor(href='/web') 
        i.fa.fa-code.fa-fw &nbsp;  
        | Web Apps Development

    |         
    li
      
      |   
      
      a.generic-anchor.footer-list-anchor(href='/mobile')
        i.fa.fa-mobile-phone.fa-fw &nbsp;    
        | Mobile Apps Development
    |         
    li
      
      | 
        
      a.generic-anchor.footer-list-anchor(href='/web-services') 
        i.fa.fa-cogs.fa-fw &nbsp;
        | Web Services Development
    |         
    li
      
      |  
       
      a.generic-anchor.footer-list-anchor(href='/web-authoring') 
        i.fa.fa-globe.fa-fw &nbsp;   
        | Web Content Authoring
        
    |         
    li
      
      |   
      
      a.generic-anchor.footer-list-anchor(href='/domain-and-web-hosting')
        i.fa.fa-database.fa-fw &nbsp;    
        | Domain &amp; Hosting
        
  |     
  ul.footer-list-top
    li#help
      h4.footer-list-header Technologies
    |         
    li
      a.generic-anchor.footer-list-anchor(href='react', itemprop='significantLink') React
    |         
    li
      a.generic-anchor.footer-list-anchor(href='/xamarin', itemprop='significantLink') Xamarin
    |         
    li#find-a-store
      a.generic-anchor.footer-list-anchor(href='/wordpress', itemprop='significantLink') Wordpress
    |         
    li#user-registration
      a.generic-anchor.footer-list-anchor(href='/express', itemprop='significantLink') Express
    |         
    li#order-tracking
      a.generic-anchor.footer-list-anchor(href='/html5', itemprop='significantLink') HTML5
  |     
  section.footer-social-section.flex-rw
    span.footer-social-overlap.footer-social-connect
      | We 
      span.footer-social-small are
      |  Social animals
    |         
    span.footer-social-overlap.footer-social-icons-wrapper
      a.generic-anchor(href='', target='_blank', title='Pinterest', itemprop='significantLink')
        i.fa.fa-pinterest
      |       
      a.generic-anchor(href='', target='_blank', title='Facebook', itemprop='significantLink')
        i.fa.fa-facebook
      |       
      a.generic-anchor(href='', target='_blank', title='Twitter', itemprop='significantLink')
        i.fa.fa-twitter
      |       
      a.generic-anchor(href='', target='_blank', title='Instagram', itemprop='significantLink')
        i.fa.fa-instagram
      |       
      a.generic-anchor(href='', target='_blank', title='Youtube', itemprop='significantLink')
        i.fa.fa-youtube
      |       
      a.generic-anchor(href='', target='_blank', title='Google Plus', itemprop='significantLink')
        i.fa.fa-google-plus
  |     
  section.footer-bottom-section.flex-rw
    .footer-bottom-wrapper
      i.fa.fa-copyright(role='copyright')
      |  2017 Jara Group in 
      address.footer-address(role='company address') Abuja, Nigeria
      span.footer-bottom-rights  - All Rights Reserved - 
    |         
    .footer-bottom-wrapper
      a.generic-anchor(href='/terms-of-use.html', rel='nofollow') Terms
      | &nbsp; &nbsp; &nbsp; &nbsp;| 
      a.generic-anchor(href='/privacy-policy.html', rel='nofollow') Privacy


script(src='/javascripts/jquery.min.js', type='text/javascript')
script(src='/javascripts/bootstrap.js', type='text/javascript')

script(src='/javascripts/modernizr.min.js', type='text/javascript')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
script(src='https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js')
script(src='/javascripts/bundle.js', type='text/javascript')

