extends layout

block content
  style.
      main{
          padding-left: 30px;
      }
  link(rel="stylesheet" href="/stylesheets/mobile.css")
  
  main(role='main ')
    img(src="/images/mobile1.png" width="1200"  height="800")
    section
      article
        section.droid
          p We are like pigeons, we stay 
          |  with you through the ups and downs. We are fully committed to your project throughout the development lifecyle,
          |  event to the post production phase
          div
            h3 Native Android App Development
        section.windows
          p We are like pigeons, we stay 
          |  with you through the ups and downs. We are fully committed to your project throughout the development lifecyle,
          |  event to the post production phase
          div
            h3 Native Windows Phone App Development

        section.rt
          p We are like pigeons, we stay 
          |  with you through the ups and downs. We are fully committed to your project throughout the development lifecyle,
          |  event to the post production phase
          div
            h3 Window Surface App Development
      h1 Mobile Development
      p Mobile is now the rule rather than the exception. The mobile ecosystem is creating new interaction models between between people, corporate organisations, and Government. 
      p At JWS We have expertise in mobile development. We can create any mobile development shop you desire.
      h3 It’s never been easier to build a smart mobile product



      p We highly recommend starting out with a Minimum Viable Product (MVP), instead of going head first for the full package deal. Why? Because it will get you valuable information on how the core features of your mobile product work for the target user.

      span Release the main product and optimize your strategies around actual results. Working with an MVP will enable you to make decisions based on real data, not speculations. This way, you’ll have better chances of building a sustainable business on mobile.