extends layout

    
block content
    style.
        .h3 {
            color: white;
        }
    main.container
        a.btn.btn-default.btn-lg(href="/register/logout") Logout
        span.pull-right #{profile}
        .container.fluid
            .row
                .col-md-6
                    h3.h3.jumbotron.jumbo-div General Info

                .col-md-6
                    h3.h3.jumbotron.jumbo-div History
            .row
                .col-md-12  
                    h3.h3.jumbotron.jumbo-div Domain Information
            

