extends layout
block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js")
    style
        include ../public/stylesheets/profile.css
    
    

    .container
        .page-header
            ul.nav
                li.settings-title
                    h1 User Settings
                    // notification dropdown
                li.message-nav.dropdown
                    a#dropdownMenu1(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                        i.fa.fa-bell-o
                            span.badge 2
                        ul.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenu1')
                            li.notification-title
                                h4 Notification
                            ul.notification-list
                                li.notification-item
                                    a.notification-anchor(href='#')
                                        span.notification-img
                                            img(src='http://lorempixel.com/output/nature-q-g-640-480-6.jpg')
                                        p.notification-user
                                            strong Anh Nguyen
                                            |  |
                                            span.timestamp 15 mins ago
                                        p.notification-type
                                            | Robert sent you a message
                                        p.notification-project
                                            | Project 
                                            span.project-name Videographer - Kickstarter
                                li.notification-item
                                    a.notification-anchor(href='#')
                                        span.notification-img
                                            img(src='http://lorempixel.com/output/nature-q-g-640-480-6.jpg')
                                        p.notification-user
                                            strong Anh Nguyen
                                            |  |
                                            span.timestamp 15 mins ago
                                        p.notification-type
                                            | Robert hired you for the project
                                        p.notification-project
                                            | Project 
                                            span.project-name Videographer - Kickstarter
                                li.notification-item
                                    a.notification-anchor(href='#')
                                        span.notification-img
                                            img(src='http://lorempixel.com/output/nature-q-g-640-480-6.jpg')
                                        p.notification-user
                                            strong Anh Nguyen
                                            |  |
                                            span.timestamp 15 mins ago
                                        p.notification-type
                                            | Robert marked project complete
                                        p.notification-project
                                            | Project 
                                            span.project-name Videographer - Kickstarter
                                li.notification-item
                                    a.notification-anchor(href='#')
                                        span.notification-img
                                            img(src='http://lorempixel.com/output/nature-q-g-640-480-6.jpg')
                                        p.notification-user
                                            strong Anh Nguyen
                                            |  |
                                            span.timestamp 15 mins ago
                                        p.notification-type
                                            | Robert archived the project
                                        p.notification-project
                                            | Project 
                                            span.project-name Videographer - Kickstarter
                                li.notification-item
                                    a.notification-anchor(href='#')
                                        span.notification-img
                                            img(src='http://lorempixel.com/output/nature-q-g-640-480-6.jpg')
                                        p.notification-user
                                            strong Anh Nguyen
                                            |  |
                                            span.timestamp 15 mins ago
                                        p.notification-type
                                            | Robert funded the project
                                        p.notification-project
                                            | Project 
                                            span.project-name Videographer - Kickstarter
                                li.notification-footer
                                    h4
                                        a View All
                // end
                // Filter
                li.dropdown.filter-sort
                    a#filter-sort-dropdown(data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                        | Sort by 
                        i.fa.fa-caret-down
                    ul.dropdown-menu.sorting.dropdown-menu-right(aria-labelledby='filter-sort-dropdown')
                        ul.filter-sort-list
                            li.filter-sort-item
                                a Date - Most recent first
                            li.filter-sort-item
                                a Date - Oldest first
                            li.filter-sort-item
                                a Budget - Low to High
                            li.filter-sort-item
                                a Budget - High to Low
                // end Filter
        .row
            .col-md-11
                .panel.with-nav-tabs.panel-default
                    .panel-heading.single-project-nav
                        ul.nav.nav-tabs
                            li.active
                                a(href='#user-profile-info', data-toggle='tab') Account Details
                            li
                                a(href='#user-profile-payments', data-toggle='tab') Billing
                            li
                                a(href='#user-profile-examples', data-toggle='tab') Domain Settings
                            li
                                a(href='#user-profile-skills', data-toggle='tab') Hosting Settings
                    .panel-body
                        .tab-content
                            #user-profile-info.tab-pane.fade.in.active
                                .row
                                    .col-sm-4
                                        label First Name
                                        input.input-md.form-control(type='text')
                                    .col-sm-4
                                        label Last Name
                                        input.input-md.form-control(type='text')
                                    .col-sm-4
                                        label Email
                                        input.input-md.form-control(type='text')
                                .row
                                    .col-sm-4
                                        label Location
                                        input.input-md.form-control(type='text')
                                    .col-sm-4
                                        label Website
                                        input.input-md.form-control(type='text')
                                    .col-sm-4
                                        label Contact Number
                                        input.input-md.form-control(type='text')
                                .row
                                    .col-sm-4
                                        label Your Short Bio
                                        textarea.input-md.form-control(type='text', row='10')
                                    .col-sm-4
                                        label Profile Photo
                                    .col-sm-4
                                        label Background Image
                            #user-profile-payments.tab-pane.fade
                                p
                                    | We will take care of your payment process so you don’t need to worry about chasing up clients after every single project. We will do our best to ensure that you get paid fairly and on a timely basis.
                                    br
                                    br
                                    |                        To set up the payment, please click on “Connect with Stripe” button below and follow the instructions. It shouldn’t take more than 15  minutes to do so.
                                    br
                                    br
                                    |                       If you have any questions, please don’t hesitate to reach out to us at hello@kapcher.co.
                                p
                                    strong
                                        | Stripe Escrow Payment:
                                        span.stripe-status
                                            | Connected!
                                a.stripe-connect(href='/auth/stripe_connect')
                            #user-profile-examples.tab-pane.fade
                                .btn-Upload-group
                                    a.btn.Upload.flat.btn-create.btn-small
                                        i.fa.fa-camera
                                        |   Upload Photo
                                    a.btn.Upload.flat.btn-create.btn-small(href='#upload-video-url', data-toggle='modal')
                                        i.fa.fa-video-camera
                                        |  Add Video URLs
                                ul#multi.asset-list
                                    li.photo
                                        .asset-loading
                                            img(src='http://lorempixel.com/output/abstract-q-c-640-480-8.jpg')
                                            .cta-delete
                                                i.fa.fa-trash-o
                                    li.photo
                                        .asset-loading
                                            img(src='http://lorempixel.com/output/people-q-g-640-480-10.jpg')
                                            .cta-delete.video
                                                i.fa.fa-play
                                    li.photo
                                        .asset-loading
                                            img(src='http://lorempixel.com/output/people-q-g-640-480-10.jpg')
                                            .cta-delete.video
                                                i.fa.fa-play
                            #user-profile-skills.tab-pane.fade
                                h4
                                    | What do you specialise in?
                                p
                                    | In a few keywords, tell us what your skills are. These tags will be displayed on your portfolio page so make sure you choose wisely.
                                input#skills.long(name='skill-input', type='text')
                                a.btn.add-skills.flat.btn-create.btn-small(href='#')
                                    | Add
                                .skill-zone(style='margin-top: 20px; height:50px')
                                    span.label.label-info
                                        | Portrait
                                        i.fa.fa-times.remove-skill-profile
                                    span.label.label-info
                                        | Landscape
                                        i.fa.fa-times.remove-skill-profile
                        .actions
                            a.btn.flat.btn-create Save
    // modal
    #upload-video-url.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog
            .modal-content
                .modal-body.payment
                    button.close(aria-hidden='true', data-dismiss='modal', type='button') ×
                    h3.title
                        i.fa.fa-video-camera
                        |  Add video URLs
                    p
                        | Add Vimeo and Youtube links of your recent and best videos. These will be displayed on your portfolio page so choose the works that reflects your talents and expertise. First impression is important so make it count.
                    input.input-form(type='text', placeholder='http://')
                    p.add-link
                        a + Add more links
                    p.align-center
                        a.btn.flat.btn-create Save
