extends layout
block content
  
    main
    
        
        h1.h1 Register here
        form.form-group.container(method='post', action='/register')
            div
                label(for='name') Name
                input.form-control(type='text', name='name', placeholder='Name')
            div
                label(for='phone') Phone
                input.form-control(type='Tel', name='phone', placeholder='Phone Number')
            div
                label(for='email') Email
                input.form-control(type='email', name='email', placeholder='Email')
            div
                label(for='password') Password
                input.form-control(type='password', name='password', placeholder='Password')
            div
                label(for='password2') Confirm Password
                input.form-control(type='password', name='password2', placeholder='Confirm Password')
                button(type='submit') Register
            br
            |  Have An Account? 
            a.btn.Button--link-primary(href='/') Login Now

        

    script.
        
        $(document).ready(function(e){
            $("form").submit(function(e){
                e.preventDefault();

                var formData = {
                    'name'       : $('input[name=name]').val(),
                    'email'      : $('input[name=email]').val(),
                    'password'   : $('input[name=password]').val()
                    'password2'  : $('input[name=password2]').val()
                    'phone'      : $('input[name=phone]').val()
                 };

                $.ajax({
                    type     : 'POST', 
                    url      : '/register', 
                    data     : formData, 
                    dataType : 'json', 
                    encode   :  true
                }).done(function(data) {
                    console.log(data); 
                });
                event.preventDefault();
            });
    
        });

    
          