extends layout

block content
 
  main(style="margin-top: 30px;")
    section.result 
      h1 Domain Search result
        p Your Domain 
          span(style="color:green") #{response.body}
          is #{response.name}