

extends layout

block content
  style
    include ../public/stylesheets/services.css  
  nav.navbar.navbar-default(role='navigation')
  
    .nav-main
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='#domain-service') Domain Service
          li.active
            a(href='#web-hosting') Web Hosting 
          li
            a(href='#sms-marketing') SMS Marketing
          li
            a(href='#content-writing') Content Writing
          li
            a(href='#online-marketing') Online Marketing
          li
            a(href='#seo') SEO

  section#domain
    .heading.container-fluid
      h2.h2 Domain Service
    .body.container-fluid
      .narative
        p.lead There is still many great domains out there waiting for you to snap up.
        p.lead We provide one-stop shop for domain registration and management for our teeming client. We provide a full-feature domain registration that's tailored to your needs. Our domain registration service is not a one-size fits all approach. You won't be limited to functionalities available to you on our web portal, you can also get a direct involvement with the registrant. It's not smoke and mirrors, we don't claim to be an ICANN accredited registrant. But we want you to have full control of your domain and to be able to do so directly from our website.
        .action
          a.btn-link.btn-lg(href="/domain") Get Started
      .process
        ul
          li You have full control over your domain and choice of registrar
          li A highly sophisticated .NG domain is available 
          li 
      .partners

  section#hosting
    .heading.container-fluid
      h2.h2 Cloud Hosting Service
    .body.container-fluid
      .narative
        p.lead In an age when every application cries for hosting on the cyberspace, we not just host for you but we help you host your application while taking into consideration many attributes that would affect the success of the application. Our cloud offerings come in many shapes and sizes. 
        .action
      .process
      .partners

  section#sms
    .heading.container-fluid
      h2.h2 SMS Marketing
    .body.container-fluid

  section#content
    .heading
      h2.h2 content Writing
    .body.container-fluid
      .narative
        .action
      .process
      .partners

  section#online
    .heading.container-fluid
      h2.h2 Online Marketing
    .body.container-fluid
      .narative
        .action
      .process
      .partners
  section#seo
    .heading.container-fluid
      h2.h2 Search Engine Optimization
    .body.container-fluid
      .narative
        .action
      .process
      .partners

  //- .bg-primary.domain.result
  //-   .container-fluid
  //-     .header-main
  //-       .header-left
  //-         h1 Domain Service
  //-         p A one-stop shop for domain registration and management for our teeming client.
  //-       // about-left
  //-       .header-right
  //-         p
  //-           a(href='') Get started now
  //-       // about-right
  //-     // about-main
  //-   // about
  //- .center.container-fluid
  //-   .center-main
  //-     .row
  //-       .col-lg-6.col-md-6.col-sm-12.col-xs-12
  //-         h2 How it works
  //-         p
  //-           | We provide a full-feature domain registration that's tailored to your needs. Our domain
  //-           | registration service is not a one-size fits all approach. You won't be limited to
  //-           | functionalities available to you on our web portal, you can also get a direct involvement
  //-           | with the registrant. It's not smoke and mirrors, we don't claim to be an ICANN accredited registrant. But we want you to have full control of your domain and to be able to do so directly from our website.
  //-       .col-lg-6.col-md-6.col-sm-12.col-xs-12
  //-         h2 Just how you like it
  //-         div
  //-           h3 Our tech partners

  //-       // col-lg-6 col-md-6 col-sm-12 col-xs-12
  //-     // row
  //- .bg-info
  //-   .container-fluid
  //-     .header-main
  //-       .header-left
  //-         h1 Cloud Hosting
  //-         p A one-stop shop for web apps, mobile apps, and web services.
  //-       // about-left
  //-       .about-right
  //-         p In an age when every application cries for hosting on the cyberspace, we not just host for you but we help you host your application while taking into consideration many attributes that would affect the success of the application. Our cloud offerings come in many shapes and sizes. 
  //-           a(href='') Get started now
  //-       // about-right
  //-     // about-main
  //-   // about
  //- .center.container-fluid
  //-   .center-main
  //-     .row
  //-       .col-lg-6.col-md-6.col-sm-12.col-xs-12
  //-         h3 Our cloud hosting offering include
  //-         ul
  //-           li Software as a Service
  //-           li Platform as a Service
  //-           li Shared hosting service
  //-           li Dedicated hosting service
  //-         h3 Be informed
  //-         p Your choice largely depends on the services and programs that shall be running on 
  //-         p
  //-           | We provide a full-feature domain registration that's tailored to your needs. Our domain
  //-           | registration service is not a one-size fits all approach. You won't be limited to
  //-           | functionalities available to you on our web portal, you can also get a direct involvement
  //-           | with the registrant. It's not smoke and mirrors, we don't claim to be an ICANN accredited registrant. But we want you to have full control of your domain and to be able to do so directly from our website.
  //-       .col-lg-6.col-md-6.col-sm-12.col-xs-12
  //-         h2 Our cloud platform -- Just how you like it
         


