<ul class="tabs">
    <li><a href="#tab-one" class="is-active">Tab one</a></li>
    <li><a href="#tab-two">Tab two</a></li>
    <li><a href="#tab-three">Tab three</a></li>
</ul>
<section class="tab-content" id="tab-one">
    <h1>Tab one content</h1>
    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere
        erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
</section>
<section class="tab-content" id="tab-two">
    <h1>Tab two content</h1>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus
        auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
</section>
<section class="tab-content" id="tab-three">
    <h1>Tab three content</h1>
    <p>Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Sed posuere consectetur est at lobortis.</p>
</section>