extends layout 
block content
    style
        include ../public/stylesheets/animation.css
    
    main
        .hero
            .parallax-layer.layer-6
            .parallax-layer.layer-5
            .parallax-layer.layer-4
            .parallax-layer.bike-1
            .parallax-layer.bike-2
            .parallax-layer.layer-3
            .parallax-layer.layer-2
            .parallax-layer.layer-1

        h1 Web animation
