extends layout

block content
  link(rel="stylesheet" href="/stylesheets/web.css")
  
  style.
    main{
        padding-left: 30px;
    }

  main(role='main ')
   section
     h1 Web Apps Development
     p We have gained a lot of valuable experience from working on 
     | various web projects, including e‑learning and e‑commerce platforms, 
     | CRM solutions, web services, web sites, APIs, and more.

     h2 Approach
     p On our projects, we use highly efficient and flexible web frameworks, which are specifically adjusted to the individual needs of our clients.
     |To us, development is more than a job, it’s a passion. We stay on top of all advances and trends in technology to ensure our solutions 
     |are reliable, flexible, and relevant. In addition, our team of security and usability professionals make sure we do our best to avoid
     |any developmental delays or missteps due to the misuse of outdated or inferior techniques or technology.

     h2 Tech Stack
     p Reactjs, SASS, EXPRESS, WebPack, SinonJs
     p ASP.NET Core, Entity Framework, WCF, Angular, DurandalJs, Typescript
     p Firebase, Mysql, MongoDB, SQLite, Redis

     button Check our portfolilio