extends layout
block content
    style
        include ../public/stylesheets/about.css
    
    main
        section#about.about
            .container
                .row
                    .col-xs-12
                        h2 About us
                    .row
                        .col-xs-12.col-sm-4
                            h4 Who we are   
                            p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos laborum est, beatae rem soluta autem odio placeat, ad, libero aliquam, aut excepturi obcaecati. Sit voluptatum qui quidem, nulla architecto ab.
                            p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos laborum est, beatae rem soluta autem odio placeat, ad, libero aliquam, aut excepturi obcaecati. Sit voluptatum qui quidem, nulla architecto ab.
                            p.visible-lg
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos laborum est, beatae rem soluta autem odio placeat, ad, libero aliquam, aut excepturi obcaecati. Sit voluptatum qui quidem, nulla architecto ab.
                            p.visible-lg
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos laborum est, beatae rem soluta autem odio placeat, ad, libero aliquam, aut excepturi obcaecati. Sit voluptatum qui quidem, nulla architecto ab.
                        .col-xs-12.col-sm-4
                            h4 Our vision
                            p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos laborum est, beatae rem soluta autem odio placeat, ad, libero aliquam, aut excepturi obcaecati. Sit voluptatum qui quidem, nulla architecto ab.
                            p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos laborum est, beatae rem soluta autem odio placeat, ad, libero aliquam, aut excepturi obcaecati. Sit voluptatum qui quidem, nulla architecto ab.
                            p.visible-lg
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos laborum est, beatae rem soluta autem odio placeat, ad, libero aliquam, aut excepturi obcaecati. Sit voluptatum qui quidem, nulla architecto ab.
                            p.visible-lg
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos laborum est, beatae rem soluta autem odio placeat, ad, libero aliquam, aut excepturi obcaecati. Sit voluptatum qui quidem, nulla architecto ab.
                        .col-xs-12.col-sm-4
                            h4 Our values
                            p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos laborum est, beatae rem soluta autem odio placeat, ad, libero aliquam, aut excepturi obcaecati. Sit voluptatum qui quidem, nulla architecto ab.
                            p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos laborum est, beatae rem soluta autem odio placeat, ad, libero aliquam, aut excepturi obcaecati. Sit voluptatum qui quidem, nulla architecto ab.
                            p.visible-lg
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos laborum est, beatae rem soluta autem odio placeat, ad, libero aliquam, aut excepturi obcaecati. Sit voluptatum qui quidem, nulla architecto ab.
                            p.visible-lg
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos laborum est, beatae rem soluta autem odio placeat, ad, libero aliquam, aut excepturi obcaecati. Sit voluptatum qui quidem, nulla architecto ab.
            // end of about section
                    hr
        .about-us
            article
                h2 Strength in numbers
                p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta id dolorem cupiditate eos cumque earum esse ipsa sunt impedit aperiam, dolor velit sit officia quaerat autem magni, sint voluptatum aut.
            aside
                ul
                    li
                        h3
                            span 4+
                            span Years of Service
                    li
                        h3
                            span 30+
                            span Projects Implemented
                    li
                        h3
                            span 1K+
                            span Costumers Served
        .team-treehouse
            h1 Team Treehouse Achievements
            h2
                strong.total 0
                |  points have been earned
            .pieChart.group 
                .pie
                .legend