#content-container {
    margin-top: 64px;
    padding: 0;
}

.home-banner {
    background-color: #eee;
    height: 400px;
}

.module-title {
    font-size: 2em;
}

.code-label {
    font-size: 1.5em;
}

pre code {
    font-size: 1.35em;
}

ul.code-tabs {
    margin-top: 25px;
    margin-bottom: 25px;
}

ul.code-tabs li {
    font-size: 1.5em;
}

.module-title {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.console-message {
    display: none;
}

#example-container {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 20px;
}

#example-container .logo {
    margin-bottom: 20px;
}

label {
    cursor: pointer;
}

input[type="text"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
textarea,
input[type="text"].form-control,
input[type="url"].form-control,
input[type="email"].form-control,
input[type="number"].form-control,
input[type="tel"].form-control,
input[type="date"].form-control,
input[type="month"].form-control,
input[type="week"].form-control,
textarea.form-control {
    padding-left: 10px !important;
}

.detected {
    background: url(../img/check.png) no-repeat center center;
}

.notDetected {
    background: url(../img/x.png) no-repeat center center;
}

.api {
    font-family: Consolas, 'Courier New', sans-serif;
    padding: 1.5em;
}

.push-down-top {
    margin-top: 20px;
}

.push-down-top-md {
    margin-top: 40px;
}

.push-down-top-lg {
    margin-top: 65px;
}

.push-down-top-sm {
    margin-top: 10px;
}

.nav-link {
    color: #b2dbfb;
}

input {
    margin-top: 5px;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    color: #c33;
    border-color: #c33;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    border-color: #c33;
    -webkit-box-shadow: 0 0 6px #fcc;
    -moz-box-shadow: 0 0 6px #fcc;
    box-shadow: 0 0 6px #fcc;
}

input:invalid,
textarea:invalid,
select:invalid {
    border-bottom: 1px solid #c33 !important;
}

input:valid+.invalid {
    visibility: hidden;
}

input:invalid+.invalid {
    visibility: visible;
}

input:required {
    border-left: 4px solid #c33 !important;
}

input:valid {
    border-bottom: transparent;
}

.invalid {
    color: #999 !important;
}

li .dropdown {
    margin-left: 20px;
    margin-top: 21px;
    cursor: pointer;
}

#vid {
    cursor: pointer;
}

#thumbs img {
    margin: 10px;
}

.inline {
    display: inline;
}

.divider {
    color: #ccc;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

[data-role="drag-drop-target"] {
    float: left;
    width: 500px;
    height: 376px;
    margin: 10px;
    padding: 10px;
    border: 3px solid #ddd;
    border-radius: 4px;
}

.over {
    background-color: #ffc;
}

[draggable="true"] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Support old versions of WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.drag {
    opacity: 0.25;
}

.none {
    display: none;
}

.hljs {
    background-color: transparent !important;
}

.home-icon {
    width: 215px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.home-layout p {
    font-size: 1.45em;
}

.separator {
    color: #5CB8FF;
    margin-top: 20px;
}

.navbar-brand {
    margin-top: -10px;
}

.nav-link {
    text-transform: uppercase;
}

ul.nav.navbar-nav li {
    padding: 15px;
    margin-left: 5px;
    font-size: 18px;
}

.home-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar-brand {
    margin-right: 20px;
}

section.domain-service,
section.web-telephony,
section.mobile,
section.animation,
section.soft-dev {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    background: brown;
    padding: 30px;
    display: inline-block;
    width: 25em;
    text-wrap: wrap;
}

section.soft-dev {
    flex-shrink: 0;
}

.caret {
    display: inline-block;
    margin-left: 3px;
}

footer {
    background-color: #0d314e;
    margin-top: 200px;
    width: 100%;
    color: #fff;
    border-top: solid 20px #eee;
    height: 55em;
}

footer a {
    color: #ccc;
}

footer a:hover,
footer a:active,
footer a:focus,
footer a:visited {
    color: #999;
}

summary {
    cursor: pointer;
    outline: none;
}

.navbar-inverse {
    background-color: #0d314e;
}

.example-layout h1 {
    margin-top: 45px;
    text-transform: uppercase;
    font-size: 3em;
}

.example-layout h2 {
    font-size: 2em;
    margin-top: -10px;
}

.example-layout aside {
    position: absolute;
    border: solid 3px #ccc;
    margin: 20px;
    padding: 20px;
    max-width: 425px;
    background-color: #fff;
    right: -50%;
    width: 300px;
    top: -20px;
}

.example-layout summary {
    font-size: 2em;
}

.example-layout p {
    font-size: 1.5em;
}

.example-layout figcaption {
    margin-top: -22px;
}

.narrow {
    width: 60%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.flex-rw {
    display: flex;
    flex-flow: row wrap;
}

footer {
    background: rgb(55, 55, 55);
    margin-top: auto;
    width: 100%;
}

.footer-list-top {
    width: 33.333%;
}

.footer-list-top>li {
    text-align: center;
    padding-bottom: 10px;
}

.footer-list-header {
    padding: 10px 0 5px 0;
    color: #fff;
    font: 2.3vw "Oswald", sans-serif;
}

.footer-list-anchor {
    font: 1.3em "Open Sans", sans-serif;
}

.footer-social-section {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 5px;
}

.footer-social-section::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10px;
    border-top: 1px solid $primary-line-color;
    width: calc(100% - 20px);
}

.footer-social-overlap {
    position: relative;
    z-index: 2;
    background: rgb(55, 55, 55);
    padding: 0 20px;
}

.footer-social-connect {
    display: flex;
    align-items: center;
    font: 3.5em "Oswald", sans-serif;
    color: #fff;
}

.footer-social-small {
    font-size: 0.6em;
    padding: 0px 20px;
}

.footer-social-overlap>a {
    font-size: 3em;
}

.footer-social-overlap>a:not(:first-child) {
    margin-left: 0.38em;
}

.footer-bottom-section {
    width: 100%;
    padding: 10px;
    border-top: 1px solid $primary-line-color;
    margin-top: 10px;
}

.footer-bottom-section>div:first-child {
    margin-right: auto;
}

.footer-bottom-wrapper {
    font-size: 1.5em;
    color: #fff;
}

.footer-address {
    display: inline;
    font-style: normal;
}

@media only screen and (max-width: 768px) {
    .footer-list-header {
        font-size: 2em;
    }
    .footer-list-anchor {
        font-size: 1.1em;
    }
    .footer-social-connect {
        font-size: 2.5em;
    }
    .footer-social-overlap>a {
        font-size: 2.24em;
    }
    .footer-bottom-wrapper {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 568px) {
    main {
        font-size: 5em;
    }
    .footer-list-top {
        width: 100%;
    }
    .footer-list-header {
        font-size: 3em;
    }
    .footer-list-anchor {
        font-size: 1.5em;
    }
    .footer-social-section {
        justify-content: center;
    }
    .footer-social-section::after {
        top: 25%;
    }
    .footer-social-connect {
        margin-bottom: 10px;
        padding: 0 10px;
    }
    .footer-social-overlap {
        display: flex;
        justify-content: center;
    }
    .footer-social-icons-wrapper {
        width: 100%;
        padding: 0;
    }
    .footer-social-overlap>a:not(:first-child) {
        margin-left: 20px;
    }
    .footer-bottom-section {
        padding: 0 5px 10px 5px;
    }
    .footer-bottom-wrapper {
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .footer-social-overlap>a {
        margin: auto;
    }
    .footer-social-overlap>a:not(:first-child) {
        margin-left: 0;
    }
    .footer-bottom-rights {
        display: block;
    }
}

@media only screen and (max-width: 320px) {
    .footer-list-header {
        font-size: 2.2em;
    }
    .footer-list-anchor {
        font-size: 1.2em;
    }
    .footer-social-connect {
        font-size: 2.4em;
    }
    .footer-social-overlap>a {
        font-size: 2.24em;
    }
    .footer-bottom-wrapper {
        font-size: 1.3em;
    }
}