body {
    /* padding: 50px; */
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}


/**
 * Vars
 */


/**
 * Fonts
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

/**
   * Mixins (inuit.css)
   */

body {
    font-family: 'Open Sans', sans-serif;
}

.banner__content {
    width: 980px;
    margin: 0 auto;
}

.cf:after,
.media:after {
    content: "";
    display: table;
    clear: both;
}


/**
   * Media Object
   */

.media {
    display: block;
}

.media__img {
    float: left;
    margin-right: 23px;
}


/**
   * Reversed image location (right instead of left).
   */

.media__img--rev {
    float: right;
    margin-left: 23px;
}

.media__img img,
.media__img--rev img {
    display: block;
}

.media__body {
    overflow: hidden;
}

.media__body,
.media__body> :last-child {
    margin-bottom: 0;
}


/**
   * Accordion-Banner
   */

.banner-container {
    overflow: hidden;
    position: relative;
}

.banner {
    position: absolute;
    top: 0;
    width: 110px;
    height: 700px;
    z-index: 10;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/*Elements*/

.banner__img {
    max-width: none;
}

.banner__img,
.banner__overlay {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.banner__content {
    padding-top: 140px;
    position: relative;
}


/*Elements' Modifiers*/

.banner__img--static {
    display: block;
}

.banner__overlay--high-voltage {
    background: rgba(202, 17, 17, 0.65);
}

.banner__overlay--low-voltage {
    background: rgba(16, 60, 93, 0.8);
}

.banner__overlay--iluminations {
    background: rgba(238, 183, 6, 0.6);
}

.banner__overlay--renewable {
    background: rgba(0, 121, 98, 0.7);
}

.banner-item {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}

.banner-item:hover+.banner-trigger:not(:checked)+.banner-wrap {
    width: 110px;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

.banner-trigger {
    display: none;
}

.banner-trigger:checked~.banner-wrap {
    width: 100%;
    -webkit-transition: width 0.1s ease;
    -moz-transition: width 0.1s ease;
    -ms-transition: width 0.1s ease;
    -o-transition: width 0.1s ease;
    transition: width 0.1s ease;
}

.banner-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    overflow: hidden;
    border-left: 2px solid #FFF;
    border-right: 2px solid #FFF;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

.banner-selected {
    position: relative;
    width: 100%;
    left: 0 !important;
    right: 0 !important;
    z-index: 5 !important;
}

.banner-selected .banner-wrap {
    width: 100%;
    border: none;
}

.banner-selected.banner-2 .banner__content {
    padding-left: 100px;
}

.banner-selected.banner-3 .banner__content {
    padding-left: 250px;
}

.banner-selected.banner-4 .banner__content {
    padding-left: 430px;
}

.banner-1 {
    left: 15%;
    z-index: 10;
}

.banner-2 {
    left: 21%;
    z-index: 9;
}

.banner-3 {
    left: 27%;
    z-index: 8;
}

.banner-4 {
    left: 72%;
    z-index: 7;
}

.banner-1.banner-selected+.banner-2 {
    left: 60%;
}

.banner-2.banner-selected+.banner-3,
.banner-1.banner-selected+.banner-2+.banner-3 {
    left: 66%;
}

.banner-title {
    text-transform: uppercase;
    color: #FFF;
    margin: 0;
    font-size: 40px;
    font-size: 2.85714rem;
    line-height: 1.15;
}

.banner-selected .banner__content {
    z-index: 20;
}

.banner-title span {
    display: block;
}

.fa-5x {
    font-size: 95px;
    color: #FFF;
}

#standard-3 .search-txt-input {
    width: 200px;
    -webkit-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
}

#standard-3 input[type=text]:focus {
    width: 300px;
}

.main-nav {
    position: fixed;
    width: 70%;
    margin: 0 15%;
    z-index: 50;
}

.main-nav .main-nav-inner {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 20px;
}

.main-nav .main-nav-inner .main-nav-search {
    position: absolute;
    right: 0;
    color: #495;
    font-size: 2em;
    cursor: pointer;
}

#search-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    right: auto;
    bottom: auto;
    z-index: 100;
    transition: opacity .5s;
    overflow: hidden;
    opacity: 0;
}

#search-modal.active {
    height: 100%;
    width: 100%;
    opacity: 1;
}

#search-modal .search-modal-background {
    height: 100%;
    width: 100%;
    background: #39727D;
    opacity: .85;
}

#search-modal .search-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #6FB87F;
    font-size: 2em;
}

#search-modal .search-content-area {
    position: absolute;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#search-modal .search-content-area #modal-search-field {
    display: block;
    outline: none;
    border: none;
    box-shadow: none;
    background: none;
    border-bottom: 4px solid #6FB87F;
    width: 80%;
    margin: auto;
    font-size: 5em;
    line-height: 1.3em;
    color: #6FB87F;
}

#search-modal .search-content-area label[for=modal-search-field] {
    display: block;
    width: 80%;
    margin: auto;
    text-align: right;
    color: #6FB87F;
    margin-top: 10px;
    font-weight: bold;
    font-size: .9em;
    letter-spacing: 1px;
}

#search-modal .search-content-area .search-suggestions {
    width: 50%;
    margin: auto;
    color: #ddd;
}

#search-modal .search-content-area .search-suggestions h4 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 1em 0;
}

#search-modal .search-content-area .search-suggestions .search-tag {
    display: inline-block;
    font-size: 1.1em;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 1.4em;
    margin: .3em .2em;
    padding: 5px 10px;
    border-radius: 5px;
    background: #39727D;
    box-shadow: 0 2px 3px #31626b;
    cursor: pointer;
}

#search-modal .search-content-area .search-suggestions .search-tag:hover {
    transform: translateY(-2px);
    background: #41828f;
    box-shadow: 0 4px 6px #31626b;
}

.content {
    transition: transform .2s;
    transform: scale(1);
    transform-origin: 50% 0;
    padding: 1px;
}

.top-box {
    width: 40%;
    height: 40px;
    margin: 5em auto;
    background: #ccc;
}

.twin-box {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
}

.twin {
    width: 45%;
    height: 200px;
    background: #ccc;
}

.full-box {
    width: 70%;
    height: 200px;
    background: #ccc;
    margin: 0 auto 5em auto;
}