@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "node_modules/compass-sass-mixins/lib/compass";
@import "node_modules/compass-sass-mixins/lib/compass/css3";
@import "./variable.scss";
%extend_1 {
    content: "";
    display: table;
    clear: both;
}

//original selectors
//.banner__img, .banner__overlay
%extend_2 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

body {
    font-size: $base-font-size;
    font-family: $general;
}

.navbar-inverse {
    .navbar-nav {
        li {
            a {
                color: $whiteMajor;
                line-height: 1.846;
            }
        }
    }
}

ul.dropdown {
    background: $mixBlue;
}

.banner__content {
    width: 980px;
    margin: 0 auto;
    padding-top: 140px;
    position: relative;
}

.media {
    display: block;
    // &:after {
    //     @extend %extend_1;
    // }
}

.media__img {
    float: left;
    margin-right: 23px;
    img {
        display: block;
    }
}

.media__img--rev {
    float: right;
    margin-left: 23px;
    img {
        display: block;
    }
}

.media__body {
    overflow: hidden;
    margin-bottom: 0;
    > :last-child {
        margin-bottom: 0;
    }
}

.banner-container {
    overflow: hidden;
    position: relative;
}

.banner {
    position: absolute;
    top: 0;
    width: 110px;
    height: 60em;
    z-index: 10;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s ease;
}

.banner__img {
    max-width: none;
    @extend %extend_2;
}

.img4 {
    float: right;
    position: relative;
}

.banner__overlay {
    @extend %extend_2;
}

.banner__img--static {
    display: block;
}

.banner__overlay--high-voltage {
    background: $trueRed;
}

.banner__overlay--low-voltage {
    background: $mixBlue;
}

.banner__overlay--iluminations {
    background: $lessYellow;
}

.banner__overlay--renewable {
    background: $turquoise;
}

.banner-item {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    &:hover+.banner-trigger:not(:checked)+.banner-wrap {
        width: 110px;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: width 0.3s ease;
    }
}

.banner-trigger {
    display: none;
    &:checked~.banner-wrap {
        width: 100%;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: width 0.1s ease;
    }
}

.banner-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    overflow: hidden;
    border-left: 2px solid $white;
    border-right: 2px solid $white;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: width 0.3s ease;
}

.banner-selected {
    position: relative;
    width: 100%;
    left: 0 !important;
    right: 0 !important;
    z-index: 5 !important;
    .banner-wrap {
        width: 100%;
        border: none;
    }
    .banner__content {
        z-index: 20;
    }
    &.banner-2 .banner__content {
        padding-left: 100px;
    }
    &.banner-3 .banner__content {
        padding-left: 250px;
    }
    &.banner-4 .banner__content {
        padding-left: 430px;
    }
}

.banner-1 {
    left: 10%;
    z-index: 10;
    &.banner-selected+.banner-2 {
        left: 60%;
        +.banner-3 {
            left: 66%;
        }
    }
}

.banner-2 {
    left: 21%;
    z-index: 9;
    &.banner-selected+.banner-3 {
        left: 66%;
    }
}

.banner-3 {
    left: 27%;
    z-index: 8;
}

.banner-4 {
    left: 80%;
    z-index: 7;
}

.banner-title {
    text-transform: uppercase;
    color: $white;
    margin: 0;
    font-size: 3em;
    line-height: 1.15;
    span {
        display: block;
    }
}

.fa-5x {
    font-size: 95px;
    color: $white;
}

.main-nav {
    position: fixed;
    width: 70%;
    margin: 0 15%;
    z-index: 50;
    .main-nav-inner {
        position: relative;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
    }
}

.content {
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: transform .2s;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(1);
    //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin: 50% 0;
    padding: 1px;
}

%extend_1 {
    margin-top: 10px;
    padding: 15px;
    display: inline-block;
    width: 22em;
    height: 400px;
}

#content-container {
    padding: 0;
}

.home-banner {
    background-color: $moreGrayish;
    height: 400px;
}

ul {
    list-style: none;
    &.nav.navbar-nav li {
        padding: 5px;
        margin-left: 5px;
        font-size: 1.5em;
    }
}

.console-message {
    display: none;
}

label {
    cursor: pointer;
}

input[type="text"] {
    padding-left: 10px !important;
    &.form-control {
        padding-left: 10px !important;
    }
}

input[type="url"] {
    padding-left: 10px !important;
    &.form-control {
        padding-left: 10px !important;
    }
}

input[type="email"] {
    padding-left: 10px !important;
    &.form-control {
        padding-left: 10px !important;
    }
}

input[type="number"] {
    padding-left: 10px !important;
    &.form-control {
        padding-left: 10px !important;
    }
}

input[type="tel"] {
    padding-left: 10px !important;
    &.form-control {
        padding-left: 10px !important;
    }
}

input[type="date"] {
    padding-left: 10px !important;
    &.form-control {
        padding-left: 10px !important;
    }
}

input[type="month"] {
    padding-left: 10px !important;
    &.form-control {
        padding-left: 10px !important;
    }
}

input[type="week"] {
    padding-left: 10px !important;
    &.form-control {
        padding-left: 10px !important;
    }
}

.push-down-top {
    margin-top: 20px;
}

.push-down-top-md {
    margin-top: 40px;
}

.push-down-top-lg {
    margin-top: 20px;
}

.push-down-top-sm {
    margin-top: 10px;
}

.nav-link {
    color: $whiteMajor;
    text-transform: uppercase;
}

input {
    margin-top: 5px;
    &:invalid {
        border-bottom: 1px solid $redPersian !important;
        +.invalid {
            visibility: visible;
        }
    }
    &:valid {
        border-bottom: transparent;
        +.invalid {
            visibility: hidden;
        }
    }
    &:required {
        border-left: 4px solid $redPersian !important;
    }
    &:focus:invalid {
        color: $redPersian;
        border-color: $redPersian;
        &:focus {
            border-color: $redPersian;
            //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: 0 0 6px $lightPink;
        }
    }
}

select {
    &:invalid {
        border-bottom: 1px solid $redPersian !important;
    }
    &:focus:invalid {
        color: $redPersian;
        border-color: $redPersian;
        &:focus {
            border-color: $redPersian;
            //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: 0 0 6px $lightPink;
        }
    }
}

.invalid {
    color: $mountainMist !important;
}

#vid {
    cursor: pointer;
}

.inline {
    display: inline;
}

.divider {
    color: $grayish;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.home-icon {
    width: 100px;
    height: 80px;
}

h2,
.h2 {
    font-size: 1.6em;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.separator {
    color: $aquamarine;
    margin-top: 20px;
}

.home-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    a {
        color: $whiteMajor;
    }
}

section {
    &.domain-service {
        @extend %extend_1;
    }
    &.web-telephony {
        @extend %extend_1;
    }
    &.mobile {
        @extend %extend_1;
    }
    &.animation {
        @extend %extend_1;
    }
    &.soft-dev {
        @extend %extend_1;
        flex-shrink: 0;
    }
}

footer {
    background-color: $primaryColor;
    margin-top: 200px;
    color: $white;
    border-top: solid 20px $moreGrayish;
    height: 64em;
    margin-top: auto;
    width: 100%;
    padding: 20px 30px 0 40px;
    a {
        color: $grayish;
        padding-left: 20px;
        &:hover {
            color: $mountainMist;
        }
        &:active {
            color: $mountainMist;
        }
        &:focus {
            color: $mountainMist;
        }
        &:visited {
            color: $mountainMist;
        }
    }
}

summary {
    cursor: pointer;
    outline: none;
}

.navbar-inverse {
    background-color: $primaryColor;
}

.home-h2 {
    color: black;
}

a {
    text-decoration: none;
}

.flex-rw {
    display: flex;
    flex-flow: row wrap;
}

.footer-list-top {
    width: 33.333%;
    >li {
        padding-bottom: 10px;
    }
}

.footer-list-header {
    color: $white;
    background: lighten($primaryColor, 5);
    padding: 10px 0 10px 20px;
    box-shadow: -2px 4px 3px 0px rgba(0, 0, 0, 0.25);
}

.footer-list-anchor {
    font: 1.5em $general;
}

.footer-social-section {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 5px;
    border-top: 1px solid $mixBlue;
    border-bottom: 1px solid $mixBlue;
}

.footer-social-section::after {
    content: "We are cool";
    z-index: 1;
    top: 50%;
    left: 10px;
    width: calc(100% - 20px);
}

.footer-social-overlap {
    position: relative;
    z-index: 2;
    padding: 0 20px;
    >a {
        font-size: 3em;
        &:not(:first-child) {
            margin-left: 0.38em;
        }
    }
}

.footer-social-connect {
    display: flex;
    align-items: center;
    font: 3.5em general;
    color: $white;
}

.footer-social-small {
    font-size: 0.6em;
    padding: 0 20px;
}

.footer-bottom-section {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    >div:first-child {
        margin-right: auto;
    }
}

.footer-bottom-wrapper {
    font-size: 1.5em;
    color: $white;
}

.footer-address {
    display: inline;
    font-style: normal;
}

@media only screen and(max-width: 768px) {
    .footer-list-header {
        font-size: 2em;
    }
    .footer-list-anchor {
        font-size: 1.1em;
    }
    .footer-social-connect {
        font-size: 2.5em;
    }
    .footer-bottom-wrapper {
        font-size: 1.3em;
    }
    .footer-social-overlap>a {
        font-size: 2.24em;
    }
}

@media only screen and(max-width: 568px) {
    main {}
    .footer-list-top {
        width: 100%;
    }
    .footer-list-header {
        font-size: 3em;
    }
    .footer-list-anchor {
        font-size: 1.5em;
    }
    .footer-social-section {
        justify-content: center;
    }
    .footer-social-section::after {
        top: 25%;
    }
    .footer-social-connect {
        margin-bottom: 10px;
        padding: 0 10px;
    }
    .footer-social-overlap {
        display: flex;
        justify-content: center;
        >a:not(:first-child) {
            margin-left: 20px;
        }
    }
    .footer-social-icons-wrapper {
        width: 100%;
        padding: 0;
    }
    .footer-bottom-section {
        padding: 0 5px 10px;
    }
    .footer-bottom-wrapper {
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }
}

@media only screen and(max-width: 480px) {
    .footer-bottom-rights {
        display: block;
    }
    .footer-social-overlap>a {
        margin: auto;
        &:not(:first-child) {
            margin-left: 0;
        }
    }
}

@media only screen and(max-width: 320px) {
    .footer-list-header {
        font-size: 2.2em;
    }
    .footer-list-anchor {
        font-size: 1.2em;
    }
    .footer-social-connect {
        font-size: 2.4em;
    }
    .footer-bottom-wrapper {
        font-size: 1.3em;
    }
    .footer-social-overlap>a {
        font-size: 2.24em;
    }
}

li .dropdown {
    margin-left: 20px;
    margin-top: 21px;
    cursor: pointer;
}

#thumbs img {
    margin: 10px;
}

.home-layout p {
    font-size: 1.45em;
}

.dropdown-menu {
    left: -50%;
    background: $dropdown;
    width: 400px;
    li {
        a:hover {
            background: darken($trueRed, 8);
        }
        a:focus {
            background: darken($trueRed, 8);
        }
    }
}

.navbar-brand {
    padding: 0 15px;
    height: none;
}

#search-domain {
    @include pie-clearfix;
    position: relative;
    color: #fff;
    background-color: #25323d;
    width: 70%;
    height: 75px;
    margin: 0 auto 0 auto;
    h3 {
        top: 0;
        left: 0;
        z-index: 0;
        margin: 0;
        width: 100%;
        line-height: 50px;
        font-size: 1.4em;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.3em;
    }
}

.header-button {
    @include box-sizing(border-box);
    @include hide-text();
    position: relative;
    z-index: 1;
    display: block;
    width: 60px;
    height: 75px;
    margin: 0;
    padding: 0;
    outline: none;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALQAAAA8CAQAAABlJ1gMAAABfElEQVR42u3ZsU7CUBhA4U6Iib5IITigOzMzzwUMmNA3MRofwMSRCDB1MPIAOoDBHAch0VhUCb2Ecr4uBJb23Oa/FKJIkiRJkiRJkiRJygENElJSEhpEmxz6W+Z7Vu43S71PlxvTZsiMGQ+0iTe7szY6EuCOmJg7IClwaEr0eOOzN/ocBwqdwnJhYyAtbGhK3ACQcEGZMhckANxSChIayHxduNCXwISzL6deYQT0Chma3+RzmRUWQO3b+2fAgkrOgbd0vfsQurN2A0qATgFD72hwDIHzzNM/B4YBRkbW6Chg6DlwlHn6R8Dc0PmHPgWeA22C//lsT2f0+tFRBwaGDrMZdgsYekejo7rm610NWFA1dIgHlqtgDyoHEXr1CN6nTokT6vQBgAktZ/Q2j6wfla6ZAOMcUx9g6I9h0WXEKy8M6FIlosU419SHNjp+WPp8Uxs6UGpDZ6Y2dJDUedzRTz/uSFP/nN3WAjaZrs38SNPQkiRJkiRJkiRJKoB36w+U2Cj/A/EAAAAASUVORK5CYII=');
    border: none;
    cursor: pointer;
}

.search-form {
    @include transition(max-height,
    0.5s);
    position: absolute;
    top: 0;
    left: 0px;
    width: 90%;
    max-height: 90px;
    font-size: 1.5em;
    overflow: hidden;
    position: relative;
    color: #fff;
    background-color: #f9fcff;
    box-shadow: -1px 0px 24px 0px rgba(50, 50, 50, 1);
    width: 100%;
    height: 75px;
    margin: 0 auto;
    &.open {
        max-height: 90px;
    }
    fieldset {
        position: relative;
        margin: 0 60px 0 0;
        padding: 0;
        border: none;
    }
    input {
        @include box-sizing(border-box);
        display: block;
        height: 60px;
    }
    input[type="search"] {
        width: 100%;
        padding: 0 5px 0 22px;
        background: transparent;
        border: none;
        color: orange;
        font-size: 1.5;
        font-weight: 600;
    }
    input[type="submit"] {
        position: absolute;
        bottom: 10px;
        right: 5px;
        max-width: 200px;
        z-index: 5;
        margin: auto;
        font-weight: 600;
        text-transform: uppercase;
        color: #516270;
        background: #c6cacd;
        border: none;
        cursor: pointer;
    }
}

section.search-section {
    position: absolute;
    bottom: 300px;
    z-index: 300;
    left: 300px;
    width: 60%;
}