@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Titillium+Web|Vollkorn+SC');
@import "node_modules/compass-sass-mixins/lib/compass";
@import "node_modules/compass-sass-mixins/lib/compass/css3";
@import "./variable.scss";
@import "./arrow.scss";
@import "./form.scss";
%extend_1 {
    clear: both;
    margin-top: 20px;
    padding-left: 10px;
    display: inline-block;
    width: 27em;
    max-height: 450px;
}

//original selectors
//.banner__img, .banner__overlay
%extend_2 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

main {
    margin-top: 50px;
}

body {
    font-size: $base-font-size;
    font-family: $general;
}

.navbar-inverse {
    .navbar-nav {
        li {
            a {}
        }
    }
}

.read-more {
    background: transparent;
    border: 1px solid #cccccc;
    width: auto;
    height: auto;
    font-size: 1.7em;
    padding: 10px 15px;
    font-family: montserrat;
}

a.read-more {
    text-decoration: none;
}

ul.dropdown {
    background: $mixBlue;
}

.banner__content {
    width: 980px;
    margin: 0 auto;
    padding-top: 140px;
    position: relative;
}

.media {
    display: block;
    // &:after {
    //     @extend %extend_1;
    // }
}

.media__img {
    float: left;
    margin-right: 23px;
    img {
        display: block;
    }
}

.media__img--rev {
    float: right;
    margin-left: 23px;
    img {
        display: block;
    }
}

.media__body {
    overflow: hidden;
    margin-bottom: 0;
    > :last-child {
        margin-bottom: 0;
    }
}

.banner-container {
    overflow: hidden;
    position: relative;
}

.banner {
    position: absolute;
    top: 0;
    width: 110px;
    height: 60em;
    z-index: 10;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s ease;
}

.banner__img {
    max-width: none;
    @extend %extend_2;
}

.img4 {
    float: right;
    position: relative;
}

.banner__overlay {
    @extend %extend_2;
}

.banner__img--static {
    display: block;
}

.banner__overlay--high-voltage {
    background: $trueRed;
}

.banner__overlay--low-voltage {
    background: $mixBlue;
}

.banner__overlay--iluminations {
    background: $lessYellow;
}

.banner__overlay--renewable {
    background: $turquoise;
}

.banner-item {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    &:hover+.banner-trigger:not(:checked)+.banner-wrap {
        width: 110px;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: width 0.3s ease;
    }
}

.banner-trigger {
    display: none;
    &:checked~.banner-wrap {
        width: 100%;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: width 0.1s ease;
    }
}

.banner-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    overflow: hidden;
    border-left: 2px solid $white;
    border-right: 2px solid $white;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: width 0.3s ease;
}

.banner-selected {
    position: relative;
    width: 100%;
    left: 0 !important;
    right: 0 !important;
    z-index: 5 !important;
    .banner-wrap {
        width: 100%;
        border: none;
    }
    .banner__content {
        z-index: 20;
    }
    &.banner-2 .banner__content {
        padding-left: 100px;
    }
    &.banner-3 .banner__content {
        padding-left: 250px;
    }
    &.banner-4 .banner__content {
        padding-left: 430px;
    }
}

.banner-1 {
    left: 10%;
    z-index: 10;
    &.banner-selected+.banner-2 {
        left: 60%;
        +.banner-3 {
            left: 66%;
        }
    }
}

.banner-2 {
    left: 21%;
    z-index: 9;
    &.banner-selected+.banner-3 {
        left: 66%;
    }
}

.banner-3 {
    left: 27%;
    z-index: 8;
}

.banner-4 {
    left: 80%;
    z-index: 7;
}

.banner-title {
    text-transform: uppercase;
    color: $white;
    margin: 0;
    font-size: 3em;
    line-height: 1.15;
    span {
        display: block;
    }
}

.fa-5x {
    font-size: 95px;
    color: $white;
}

.main-nav {
    position: fixed;
    width: 70%;
    margin: 0 15%;
    z-index: 50;
    .main-nav-inner {
        position: relative;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
    }
}

.content {
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: transform .2s;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(1);
    //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin: 50% 0;
    padding: 1px;
}

#content-container {
    padding: 0;
    background: $primaryColor;
    padding-bottom: 10px;
}

.home-banner {
    background-color: $moreGrayish;
    height: 400px;
}

ul {
    list-style: none;
    &.nav.navbar-nav li {
        padding: 15px 20px 15px 20px;
        margin-left: 5px;
        font-size: 15px;
    }
}

.console-message {
    display: none;
}

label {
    cursor: pointer;
}

input[type="text"] {
    padding-left: 10px !important;
    &.form-control {
        padding-left: 10px !important;
    }
}

input[type="url"] {
    padding-left: 10px !important;
    &.form-control {
        padding-left: 10px !important;
    }
}

input[type="email"] {
    padding-left: 10px !important;
    &.form-control {
        padding-left: 10px !important;
    }
}

input[type="number"] {
    padding-left: 10px !important;
    &.form-control {
        padding-left: 10px !important;
    }
}

input[type="tel"] {
    padding-left: 10px !important;
    &.form-control {
        padding-left: 10px !important;
    }
}

input[type="date"] {
    padding-left: 10px !important;
    &.form-control {
        padding-left: 10px !important;
    }
}

input[type="month"] {
    padding-left: 10px !important;
    &.form-control {
        padding-left: 10px !important;
    }
}

input[type="week"] {
    padding-left: 10px !important;
    &.form-control {
        padding-left: 10px !important;
    }
}

.push-down-top {
    margin-top: 20px;
}

.push-down-top-md {
    margin-top: 40px;
}

.push-down-top-lg {
    margin-top: 20px;
    height: 350px;
}

.push-down-top-sm {
    margin-top: 10px;
}

.home-content-btn {
    margin-left: 20px;
}

.nav-link {
    color: antiquewhite;
}

.nav-pad {
    padding: 15px;
    margin-left: 25em;
}

input {
    margin-top: 5px;
    &:invalid {
        border-bottom: 1px solid $redPersian !important;
        +.invalid {
            visibility: visible;
        }
    }
    &:valid {
        border-bottom: transparent;
        +.invalid {
            visibility: hidden;
        }
    }
    &:required {
        border-left: 4px solid $redPersian !important;
    }
    &:focus:invalid {
        color: $redPersian;
        border-color: $redPersian;
        &:focus {
            border-color: $redPersian;
            //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: 0 0 6px $lightPink;
        }
    }
}

select {
    &:invalid {
        border-bottom: 1px solid $redPersian !important;
    }
    &:focus:invalid {
        color: $redPersian;
        border-color: $redPersian;
        &:focus {
            border-color: $redPersian;
            //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: 0 0 6px $lightPink;
        }
    }
}

.invalid {
    color: $mountainMist !important;
}

#vid {
    cursor: pointer;
}

.inline {
    display: inline;
}

.divider {
    color: $grayish;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.home-icon {
    width: 100px;
    height: 80px;
}

h2,
.h2 {
    font-size: 25px;
    font-family: montserrat;
    font-weight: 500;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.separator {
    color: $aquamarine;
    margin-top: 20px;
}

.schedule-btn {
    margin: auto;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #9acd32;
    border: 0;
    cursor: pointer;
    height: 40px;
    width: 70px;
}

.home-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
    a {
        color: $whiteMajor;
    }
}

section.call,
section.estimate,
section.nda {
    margin: auto;
    width: 30%;
}

@media only screen and(max-width: 730px) {
    section.animation,
    section.soft-dev,
    section.mobile,
    section.web-telephony {
        border: none;
        padding-left: 15px;
    }
}

@media only screen and(max-width: 729px) {
    section.animation,
    section.soft-dev,
    section.mobile,
    section.web-telephony {
        border: none;
        padding-left: 15px;
    }
}

section {
    &.domain-service {
        @extend %extend_1;
    }
    &.web-telephony {
        @extend %extend_1;
    }
    &.mobile {
        @extend %extend_1;
    }
    &.animation {
        @extend %extend_1;
    }
    &.soft-dev {
        @extend %extend_1;
        flex-shrink: 0;
        border: none;
    }
}

footer {
    background: $primaryColor;
    margin-top: 200px;
    color: $white;
    border-top: solid 20px $moreGrayish;
    height: 60em;
    margin-top: auto;
    width: 100%;
    padding: 20px 30px 0 40px;
    a {
        color: $grayish;
        padding-left: 20px;
        &:hover {
            color: $mountainMist;
        }
        &:active {
            color: $mountainMist;
        }
        &:focus {
            color: $mountainMist;
        }
        &:visited {
            color: $mountainMist;
        }
    }
}

summary {
    cursor: pointer;
    outline: none;
}

.navbar-inverse {
    background: $primaryColor;
    height: 8em;
}

%section {
    text-transform: uppercase;
    font-weight: 600;
}

.home-section-h2 {
    @extend %section;
    text-align: center;
    color: #16243a;
    text-transform: none;
}

.home-h2 {
    color: rgba(255, 165, 0, 0.65);
    font-family: Montserrat;
    @extend %section;
    text-transform: none;
    color: #ccc;
    font-size: 25px;
    font-family: montserrat;
    font-weight: 500;
}

p.header-description {
    font-size: 15px;
    text-align: center;
    color: #1a293e;
    font-family: montserrat;
}

span.header-description {
    font-size: 16px;
    color: #1a293e;
    font-family: montserrat;
    font-weight: 300;
}

h3.home-section-h3 {
    color: #172438;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

img.techs {
    width: 300px;
    height: 300px;
}

.estimate,
.nda,
.call {
    h3 {
        color: #1a293e;
        font-size: 20px;
        font-weight: 500;
    }
}

a {
    text-decoration: none;
}

.flex-rw {
    display: flex;
    flex-flow: row wrap;
}

.footer-list-top {
    width: 33.333%;
    >li {
        padding-bottom: 10px;
    }
}

.footer-list-header {
    color: $white;
    background: lighten($primaryColor1, 5);
    padding: 10px 0 10px 20px;
    box-shadow: -2px 4px 3px 0px rgba(0, 0, 0, 0.25);
}

.footer-list-anchor {
    font: 1.5em $general;
}

.footer-social-section {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 5px;
    border-top: 1px solid $mixBlue;
    border-bottom: 1px solid $mixBlue;
}

.footer-social-overlap {
    position: relative;
    z-index: 2;
    padding: 0 20px;
    >a {
        font-size: 3em;
        &:not(:first-child) {
            margin-left: 0.38em;
        }
    }
}

.footer-social-connect {
    display: flex;
    align-items: center;
    font: 3.5em $general;
    color: $white;
}

.footer-social-small {
    font-size: 0.6em;
    padding: 0 20px;
}

.footer-bottom-section {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    >div:first-child {
        margin-right: auto;
    }
}

.footer-bottom-wrapper {
    font-size: 1.5em;
    color: $white;
}

.footer-address {
    display: inline;
    font-style: normal;
}

.search-form {
    @include transition(max-height,
    0.5s);
    position: absolute;
    top: 0;
    left: 0px;
    width: 90%;
    max-height: 90px;
    font-size: 1.5em;
    overflow: hidden;
    position: relative;
    color: #fff;
    background-color: #f9fcff;
    box-shadow: -1px 0px 24px 0px rgba(50, 50, 50, 1);
    width: 60%;
    height: 70px;
    margin: 0 auto;
    &.open {
        max-height: 70px;
        height: 50px;
    }
    fieldset {
        position: relative;
        margin: 0 60px 0 0;
        padding: 0;
        border: none;
    }
    input {
        @include box-sizing(border-box);
        display: block;
        height: 60px;
    }
    input[type="search"] {
        width: 100%;
        padding: 0 5px 0 3px;
        color: orange;
        font-size: 1.5em;
        font-weight: 600;
        height: 43px;
    }
    input[type="submit"] {
        position: absolute;
        bottom: 3px;
        right: 3px;
        max-width: 200px;
        z-index: 5;
        margin: auto;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
        background: #9acd32;
        border: none;
        cursor: pointer;
        height: 40px;
    }
}

input.ctrl-form {
    background: rgba(255, 255, 255, 0.22);
}

.main-lede {
    height: 150px;
}

.main-action {
    margin-top: 20px;
}

a.show {
    background: #19273b;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    margin: 0 5px 10px 0;
    font-size: 1.6em;
    font-family: montserrat;
    ;
}

a.show:hover,
a.show-active {
    background: #73a6a3;
}

.section {
    background: #eee;
    padding: 20px;
}

section.search-section {
    z-index: 300;
    width: 90%;
    margin: auto auto 20px;
    /* border-radius: 10px; */
    border-bottom: 1px groove antiquewhite;
    padding-bottom: 30px;
}

article#content-container {
    padding-top: 20px;
}

p.masthead-para {
    font-family: montserrat;
}

@media only screen and(max-width: 768px) {
    .footer-list-header {
        font-size: 2em;
    }
    .footer-list-anchor {
        font-size: 1.1em;
    }
    .footer-social-connect {
        font-size: 2.5em;
    }
    .footer-bottom-wrapper {
        font-size: 1.3em;
    }
    .footer-social-overlap>a {
        font-size: 2.24em;
    }
}

@media only screen and(max-width: 768px) {
    section.search-section {
        left: 35px;
        width: 85%;
    }
    .search-form input[type=search] {
        width: 100%;
    }
}

@media only screen and(max-width: 415px) {
    section.search-section {
        left: 0px;
        width: 85%;
    }
    .search-form input[type=search] {
        width: 100%;
        font-size: 1em;
    }
    .search-form input[type=submit] {
        max-width: 100px;
        font-size: .5em;
        font-weight: 400;
    }
}

@media only screen and(max-width: 568px) {
    footer {
        height: auto;
    }
    .footer-list-top {
        width: 100%;
    }
    .footer-list-header {
        font-size: 3em;
    }
    .footer-list-anchor {
        font-size: 1.5em;
    }
    .footer-social-section {
        justify-content: center;
    }
    .footer-social-section::after {
        top: 25%;
    }
    .footer-social-connect {
        margin-bottom: 10px;
        padding: 0 10px;
    }
    .footer-social-overlap {
        display: flex;
        justify-content: center;
        >a:not(:first-child) {
            margin-left: 20px;
        }
    }
    .footer-social-icons-wrapper {
        width: 100%;
        padding: 0;
    }
    .footer-bottom-section {
        padding: 0 5px 10px;
    }
    .footer-bottom-wrapper {
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }
}

@media only screen and(max-width: 480px) {
    .footer-bottom-rights {
        display: block;
    }
    .footer-social-overlap>a {
        margin: auto;
        &:not(:first-child) {
            margin-left: 0;
        }
    }
}

@media only screen and(max-width: 320px) {
    .footer-list-header {
        font-size: 2.2em;
    }
    .footer-list-anchor {
        font-size: 1.2em;
    }
    .footer-social-connect {
        font-size: 2.4em;
    }
    .footer-bottom-wrapper {
        font-size: 1.3em;
    }
    .footer-social-overlap>a {
        font-size: 2.24em;
    }
}

li .dropdown {
    margin-left: 20px;
    margin-top: 21px;
    cursor: pointer;
}

#thumbs img {
    margin: 10px;
}

.home-icons {
    margin-left: 40px;
    width: 100%;
}

.home-layout p {
    font-size: 16px;
    font-family: "Titillium Web";
    font-weight: 200;
}

.dropdown-menu {
    left: -50%;
    background: rgba(24, 51, 57, 0.74);
    width: 350px;
    li {
        a:hover {
            background: rgb(154, 205, 50);
            color: #172336;
        }
        a:focus {
            background: rgb(154, 205, 50);
            color: #172336;
        }
    }
}

.navbar-brand {
    padding: 0 15px;
    height: none;
}

#search-domain {
    @include pie-clearfix();
    position: relative;
    color: #fff;
    background-color: #25323d;
    width: 70%;
    height: 75px;
    margin: 0 auto 0 auto;
    h3 {
        top: 0;
        left: 0;
        z-index: 0;
        margin: 0;
        width: 100%;
        line-height: 50px;
        font-size: 1.4em;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.3em;
    }
}

.header-button {
    @include box-sizing(border-box);
    @include hide-text();
    position: relative;
    z-index: 1;
    display: block;
    width: 60px;
    height: 75px;
    margin: 0;
    padding: 0;
    outline: none;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALQAAAA8CAQAAABlJ1gMAAABfElEQVR42u3ZsU7CUBhA4U6Iib5IITigOzMzzwUMmNA3MRofwMSRCDB1MPIAOoDBHAch0VhUCb2Ecr4uBJb23Oa/FKJIkiRJkiRJkiRJygENElJSEhpEmxz6W+Z7Vu43S71PlxvTZsiMGQ+0iTe7szY6EuCOmJg7IClwaEr0eOOzN/ocBwqdwnJhYyAtbGhK3ACQcEGZMhckANxSChIayHxduNCXwISzL6deYQT0Chma3+RzmRUWQO3b+2fAgkrOgbd0vfsQurN2A0qATgFD72hwDIHzzNM/B4YBRkbW6Chg6DlwlHn6R8Dc0PmHPgWeA22C//lsT2f0+tFRBwaGDrMZdgsYekejo7rm610NWFA1dIgHlqtgDyoHEXr1CN6nTokT6vQBgAktZ/Q2j6wfla6ZAOMcUx9g6I9h0WXEKy8M6FIlosU419SHNjp+WPp8Uxs6UGpDZ6Y2dJDUedzRTz/uSFP/nN3WAjaZrs38SNPQkiRJkiRJkiRJKoB36w+U2Cj/A/EAAAAASUVORK5CYII=');
    border: none;
    cursor: pointer;
}

.masthead {
    background: $primaryColor;
    padding: 15px;
    color: orange;
}

.search-form {
    background-color: rgba(41, 72, 125, 0.29);
    border: none;
    height: 50px;
}

$color_1: #fff;
$color_2: #333;
$font_family_1: "Century Gothic";
$background_color_2: transparent;
$background_color_3: rgba(0,
0,
0,
.4);
$background_color_4: rgba(0,
0,
0,
.1);
$background_color_5: #fff;
h1 {
    font-size: 3rem;
}

a.generic-anchor.footer-list-anchor {
    color: antiquewhite;
}

.skew-wrapper {
    height: 40em;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 1170px;
}

.skew-track {
    // height: 100%;
    left: calc(-1170px / 4);
    position: absolute;
    width: 1000em;
}

.skew {
    background-color: $background_color_2;
    border-left: 2px solid #333;
    border-right: 2px solid #eee;
    cursor: pointer;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    transform: skew(45deg);
    width: calc(1170px / 2);
    &:hover {
        .skew-background-image {
            &:after {
                background-color: $background_color_4;
            }
        }
    }
}

.skew-background-image {
    background-image: url("http://lorempixel.com/1680/994/nature");
    background-position: center;
    background-size: cover;
    height: 100%;
    left: -30%;
    position: absolute;
    top: 0;
    transform: skew(-45deg);
    width: 160%;
    &:after {
        background-color: $background_color_3;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        width: 100%;
        transition: .5s;
    }
}

.skew-content {
    display: none;
}

.skew-content-target {
    color: $color_1;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    width: 50%;
}

span.estimate-proj {
    margin-top: 35px;
    a {
        background: yellowgreen;
        border-radius: 0;
    }
}

.btn {
    radius: 0px;
}

.section-3header {
    background: #f5f5f5;
}

.plain {
    background: rgba(26, 40, 61, 0.25);
}

.text-left {
    h2 {
        color: antiquewhite;
    }
    p {
        color: antiquewhite;
    }
    button.read-more {
        color: antiquewhite;
    }
}

// @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
// $prim: #53e3a6;
// * {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//     font-weight: 300;
// }
// body {
//     font-family: 'Source Sans Pro', sans-serif;
//     color: white;
//     font-weight: 300;
// }
// .wrapper {
//     background: #50a3a2;
//     background: linear-gradient(to left, #141E30, #243B55);
//     position: absolute;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     bottom: 0;
//     overflow: hidden;
//     &.form-success {
//         .container {
//             h1 {
//                 transform: translateY(85px);
//             }
//         }
//     }
// }
// .container {
//     max-width: 600px;
//     margin: 0 auto;
//     padding: 80px 0;
//     height: 400px;
//     text-align: center;
//     h1 {
//         font-size: 40px;
//         transition-duration: 1s;
//         transition-timing-function: ease-in-put;
//         font-weight: 200;
//     }
// }
// .bg-bubbles {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 1;
//     li {
//         position: absolute;
//         list-style: none;
//         display: block;
//         width: 40px;
//         height: 40px;
//         background-color: fade(white, 15%);
//         bottom: -160px;
//         -webkit-animation: square 25s infinite;
//         animation: square 25s infinite;
//         -webkit-transition-timing-function: linear;
//         transition-timing-function: linear;
//         &:nth-child(1) {
//             left: 10%;
//         }
//         &:nth-child(2) {
//             left: 20%;
//             width: 80px;
//             height: 80px;
//             animation-delay: 2s;
//             animation-duration: 17s;
//         }
//         &:nth-child(3) {
//             left: 25%;
//             animation-delay: 4s;
//         }
//         &:nth-child(4) {
//             left: 40%;
//             width: 60px;
//             height: 60px;
//             animation-duration: 22s;
//             background-color: fade(white, 25%);
//         }
//         &:nth-child(5) {
//             left: 70%;
//         }
//         &:nth-child(6) {
//             left: 80%;
//             width: 120px;
//             height: 120px;
//             animation-delay: 3s;
//             background-color: fade(white, 20%);
//         }
//         &:nth-child(7) {
//             left: 32%;
//             width: 160px;
//             height: 160px;
//             animation-delay: 7s;
//         }
//         &:nth-child(8) {
//             left: 55%;
//             width: 20px;
//             height: 20px;
//             animation-delay: 15s;
//             animation-duration: 40s;
//         }
//         &:nth-child(9) {
//             left: 25%;
//             width: 10px;
//             height: 10px;
//             animation-delay: 2s;
//             animation-duration: 40s;
//             background-color: fade(white, 30%);
//         }
//         &:nth-child(10) {
//             left: 90%;
//             width: 160px;
//             height: 160px;
//             animation-delay: 11s;
//         }
//     }
// }
@-webkit-keyframes square {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-700px) rotate(600deg);
    }
}

@keyframes square {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-700px) rotate(600deg);
    }
}

// p {
//     background: linear-gradient(to left, #141E30, #243B55);
//     font-size: 21px;
//     padding: 15px;
//     border-radius: 5px;
//     margin: 10px;
// }
$color_1: #FFF;
$background_color_1: #F5D328;

/* Text Overlay */

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: cadetblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#lab_video_text_overlay {
    h2 {
        font-weight: 700;
        color: antiquewhite;
        font-family: Montserrat;
    }
    .btn {
        border-radius: 0;
        text-transform: uppercase;
        font-weight: 200;
    }
    .btn-warning {
        background-color: $background_color_1;
    }
    position: absolute;
    color: $color_1;
    width: 100%;
    top: 25%;
    z-index: 1000;
    .container {
        text-align: center;
        margin: 0px auto;
        // background-color: #669900;
    }
}

@media screen and (max-width:991px) {
    #lab_video_text_wrap {
        height: 300px;
    }
}

@media screen and (max-width:650px) {
    #lab_video_text_wrap {
        height: 250px;
    }
    #lab_video_text_overlay {
        h2 {
            font-size: 2em;
        }
        p {
            font-size: .6em;
        }
    }
}

// File Upload
form.file-upload {
    width: 80%;
    height: 100%;
    margin: 1rem auto;
}

.file-upload input[type=text] {
    background-color: transparent;
    width: 100%;
    font-size: 80%;
    text-align: center;
    /*text-transform: uppercase;*/
    padding: 1rem 2rem;
    border: 0;
}

label.file {
    position: relative;
    display: block;
    width: 100%;
    font-size: 1.7em;
    text-align: center;
    text-transform: uppercase;
    border: 2px dashed #ccc;
    margin: 3rem 0;
    padding: 3rem;
}

label.file:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

label.file:active,
label.file.focus {
    border-color: #09f;
}

input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    outline: 0;
    border: 1px solid red;
}

button.upload {
    color: #eee;
    background-color: #666;
    padding: 1rem 2rem;
    border: 0;
    outline: none;
}

button.upload:hover,
button.upload:focus {
    background-color: #333;
}

button.upload:active {
    color: #fff;
    background-color: #000;
}

.sml {
    display: inline-block;
    color: #eee;
    background-color: rgba(0, 200, 0, 0.67);
    border-radius: 1rem;
    font-size: smaller;
    margin: 1rem 0 0 0;
    padding: 0.67rem 1rem;
}

//appointment form
.row-appt::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: .938em;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/* form */

#appt-form {
    width: 35em;
    margin: 7% auto;
    font-family: sans-serif;
}

label {
    font-size: 1.4em;
}

input[type="date"],
input[type="time"],
select,
input[type="tel"],
input[type="email"],
input[type="text"] {
    border: none;
    border: .063em solid #D6D2D2;
    border-radius: 3px;
    width: 100%;
    font-size: 1.5em;
    height: 1.8em;
}

.time-zone select {
    font-size: 1.5em;
}

select.appt-sel {
    font-size: 1.5em;
}

textarea.txt-appt {
    width: 100%;
    height: 10em;
    border-radius: 3px;
    resize: none;
    border-color: #D6D2D2;
}

.header-appt {
    padding-left: .938em;
}

button-appt-btn {
    float: right;
}

button.appt-btn {
    display: inline-block;
    width: 10em;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 0.2em;
    border: none;
    height: 3em;
    font-size: 0.9em;
    background-color: #F44242;
    line-height: 3em;
}

button.appt-btn:hover {
    background-color: #F55A5A;
    box-shadow: 0 0.75em 1em 0 rgba(0, 0, 0, 0.24), 0 1.063em 3.125em 0 rgba(0, 0, 0, 0.19);
}

button.appt-btn:active {
    background-color: #D63A3A;
}

select {
    -moz-appearanc: none;
    -webkit-appearanc: none;
}

.valid {
    border: .063em solid lightgreen;
}

.invalid {
    border: .063em solid red;
}

.main-domain {
    margin-top: 100px;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.5;
    color: #9acd32;
    white-space: nowrap;
}