//colors
$primaryColor: #0d112b;
$secondaryColor: #fff;
$highlight: #fff;
$trueRed: rgba(202, 17, 17, 0.32);
$mixBlue: rgba(16, 60, 93, 0.3);
$lessYellow: rgba(238, 183, 6, 0.6);
$turquoise: rgba(0, 121, 98, 0.7);
$white: #fff;
$grayish: #ccc;
$moreGrayish: #eee;
$whiteMajor: #fff;
$redPersian: #c33;
$lightPink: #fcc;
$mountainMist: #999;
$grayish: #ccc;
$aquamarine: #5cb8ff;
$brownish: brown;
$white: #fff;
$dropdown: grayish;
$greyish: rgb(55, 55, 55);
//fonts
$general: Roboto,
"myriad pro",
sans-serif;
//urls
$url_0: url(../img/check.png);
$url_1: url(../img/x.png);
//urls
$roboto: Roboto,
serif;
$base-font-size: 1em;